swagger: "2.0"
x-collection-name: Predix
x-complete: 1
info:
  title: Notification Service Documentation
  description: notification-service-rest-swagger-documentation
  version: 1.0.0
host: ev-notification-service.run.aws-usw02-pr.ice.predix.io
basePath: /
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /v1/tenants/{tenant_uuid}:
    get:
      summary: Get Tenants
      description: Get tenants.
      operationId: getV1TenantsTenantUu
      x-api-path-slug: v1tenantstenant-uuid-get
      parameters:
      - in: path
        name: tenant_uuid
        description: tenant_uuid
      responses:
        200:
          description: OK
      tags:
      - Tenants
    put:
      summary: Put Tenants
      description: Put tenants.
      operationId: putV1TenantsTenantUu
      x-api-path-slug: v1tenantstenant-uuid-put
      parameters:
      - in: body
        name: tenant
        description: tenant
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: tenant_uuid
        description: tenant_uuid
      responses:
        200:
          description: OK
      tags:
      - Tenants
  /v1/tenants/{tenant_uuid}/configurations:
    get:
      summary: Get Tenants Configurations
      description: Get tenants configurations.
      operationId: getV1TenantsTenantUuConfigurations
      x-api-path-slug: v1tenantstenant-uuidconfigurations-get
      parameters:
      - in: query
        name: configurationUuid
        description: configurationUuid
      - in: path
        name: tenant_uuid
        description: tenant_uuid
      responses:
        200:
          description: OK
      tags:
      - Tenants
      - Configurations
    post:
      summary: Post Tenants Configurations
      description: Post tenants configurations.
      operationId: postV1TenantsTenantUuConfigurations
      x-api-path-slug: v1tenantstenant-uuidconfigurations-post
      parameters:
      - in: body
        name: configurations
        description: configurations
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: tenant_uuid
        description: tenant_uuid
      responses:
        200:
          description: OK
      tags:
      - Tenants
      - Configurations
  /v1/tenants/{tenant_uuid}/configurations/{uuid}:
    get:
      summary: Get Tenants Configurations
      description: Get tenants configurations.
      operationId: getV1TenantsTenantUuConfigurationsUu
      x-api-path-slug: v1tenantstenant-uuidconfigurationsuuid-get
      parameters:
      - in: path
        name: tenant_uuid
        description: tenant_uuid
      - in: path
        name: uuid
        description: uuid
      responses:
        200:
          description: OK
      tags:
      - Tenants
      - Configurations
    put:
      summary: Put Tenants Configurations
      description: Put tenants configurations.
      operationId: putV1TenantsTenantUuConfigurationsUu
      x-api-path-slug: v1tenantstenant-uuidconfigurationsuuid-put
      parameters:
      - in: body
        name: configuration
        description: configuration
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: tenant_uuid
        description: tenant_uuid
      - in: path
        name: uuid
        description: uuid
      responses:
        200:
          description: OK
      tags:
      - Tenants
      - Configurations
    delete:
      summary: Delete Tenants Configurations
      description: Delete tenants configurations.
      operationId: deleteV1TenantsTenantUuConfigurationsUu
      x-api-path-slug: v1tenantstenant-uuidconfigurationsuuid-delete
      parameters:
      - in: path
        name: tenant_uuid
        description: tenant_uuid
      - in: path
        name: uuid
        description: uuid
      responses:
        200:
          description: OK
      tags:
      - Tenants
      - Configurations
  /v1/tenants/{tenant_uuid}/email:
    post:
      summary: Post Tenants Email
      description: Post tenants email.
      operationId: postV1TenantsTenantUuEmail
      x-api-path-slug: v1tenantstenant-uuidemail-post
      parameters:
      - in: body
        name: applicationMessage
        description: applicationMessage
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: configuration
        description: configuration
      - in: path
        name: tenant_uuid
        description: tenant_uuid
      responses:
        200:
          description: OK
      tags:
      - Tenants
      - Email
  /v1/tenants/{tenant_uuid}/events:
    get:
      summary: Get Tenants Events
      description: Get tenants events.
      operationId: getV1TenantsTenantUuEvents
      x-api-path-slug: v1tenantstenant-uuidevents-get
      parameters:
      - in: query
        name: end_date
        description: end_date
      - in: query
        name: start_date
        description: start_date
      - in: query
        name: tag
        description: tag
      - in: path
        name: tenant_uuid
        description: tenant_uuid
      responses:
        200:
          description: OK
      tags:
      - Tenants
      - Events
  /v1/tenants/{tenant_uuid}/usage:
    get:
      summary: Get Tenants Usage
      description: Get tenants usage.
      operationId: getV1TenantsTenantUuUsage
      x-api-path-slug: v1tenantstenant-uuidusage-get
      parameters:
      - in: query
        name: end_date
        description: end_date
      - in: query
        name: start_date
        description: start_date
      - in: path
        name: tenant_uuid
        description: tenant_uuid
      responses:
        200:
          description: OK
      tags:
      - Tenants
      - Usage