swagger: "2.0"
x-collection-name: Predix
x-complete: 1
info:
  title: Api Documentation
  description: api-documentation
  termsOfService: urn:tos
  version: 1.0.0
host: insights-api.data-services.predix.io
basePath: /api/v1
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /dags:
    get:
      summary: Get Dags
      description: Get dags.
      operationId: getDAGsUsingGET
      x-api-path-slug: dags-get
      parameters:
      - in: query
        name: maxUpdateTime
        description: maxUpdateTime
      - in: query
        name: minUpdateTime
        description: minUpdateTime
      - in: query
        name: name
        description: name
      - in: query
        name: page
        description: Results page you want to retrieve (0
      - in: query
        name: size
        description: Number of records per page
      - in: query
        name: sort
        description: 'Sorting criteria in the format: property(,asc|desc)'
      - in: query
        name: tag
        description: tag
      - in: query
        name: type
        description: type
      responses:
        200:
          description: Successful response
      tags:
      - Dags
    post:
      summary: Post Dags
      description: Post dags.
      operationId: saveDAGUsingPOST
      x-api-path-slug: dags-post
      parameters:
      - in: body
        name: dag
        description: dag
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: Successful response
      tags:
      - Dags
  /dags/pause/{dagName}:
    put:
      summary: Put Dags Pause
      description: Put dags pause.
      operationId: pauseDAGUsingPUT
      x-api-path-slug: dagspausedagname-put
      parameters:
      - in: path
        name: dagName
        description: dagName
      responses:
        200:
          description: Successful response
      tags:
      - Dags
      - Pause
  /dags/status/{dagName}:
    get:
      summary: Get Dags Status
      description: Get dags status.
      operationId: getDAGStatusUsingGET
      x-api-path-slug: dagsstatusdagname-get
      parameters:
      - in: path
        name: dagName
        description: dagName
      responses:
        200:
          description: Successful response
      tags:
      - Dags
      - Status
  /dags/status/{dagName}/runs:
    get:
      summary: Get Dags Status Runs
      description: Get dags status runs.
      operationId: getDagRunsUsingGET
      x-api-path-slug: dagsstatusdagnameruns-get
      parameters:
      - in: path
        name: dagName
        description: dagName
      - in: query
        name: end_time
        description: end_time  or latest for latest dag run
      - in: query
        name: start_time
        description: start_time
      responses:
        200:
          description: Successful response
      tags:
      - Dags
      - Status
      - Runs
  /dags/status/{dagName}/runs/{runId}:
    get:
      summary: Get Dags Status Runs Runid
      description: Get dags status runs runid.
      operationId: getUniqueDagRunUsingGET
      x-api-path-slug: dagsstatusdagnamerunsrunid-get
      parameters:
      - in: path
        name: dagName
        description: dagName
      - in: path
        name: runId
        description: runId
      responses:
        200:
          description: Successful response
      tags:
      - Dags
      - Status
      - Runs
      - Runid
  /dags/status/{dagName}/tasks:
    get:
      summary: Get Dags Status Tasks
      description: Get dags status tasks.
      operationId: getAllDagTasksUsingGET
      x-api-path-slug: dagsstatusdagnametasks-get
      parameters:
      - in: path
        name: dagName
        description: dagName
      - in: query
        name: end_time
        description: end_time
      - in: query
        name: start_time
        description: start_time
      responses:
        200:
          description: Successful response
      tags:
      - Dags
      - Status
      - Tasks
  /dags/status/{dagName}/tasks/runs/{runId}:
    get:
      summary: Get Dags Status Tasks Runs Runid
      description: Get dags status tasks runs runid.
      operationId: getTaskStatusByRunIdUsingGET
      x-api-path-slug: dagsstatusdagnametasksrunsrunid-get
      parameters:
      - in: path
        name: dagName
        description: dagName
      - in: path
        name: runId
        description: runId
      responses:
        200:
          description: Successful response
      tags:
      - Dags
      - Status
      - Tasks
      - Runs
      - Runid
  /dags/status/{dagName}/tasks/{taskId}:
    get:
      summary: Get Dags Status Tasks Taskid
      description: Get dags status tasks taskid.
      operationId: getTaskStatusUsingGET
      x-api-path-slug: dagsstatusdagnametaskstaskid-get
      parameters:
      - in: path
        name: dagName
        description: dagName
      - in: path
        name: taskId
        description: taskId
      responses:
        200:
          description: Successful response
      tags:
      - Dags
      - Status
      - Tasks
      - Taskid
  /dags/status/{dagName}/tasks/{taskId}/runs/{runId}:
    get:
      summary: Get Dags Status Tasks Taskid Runs Runid
      description: Get dags status tasks taskid runs runid.
      operationId: getUniqueRunTaskStatusUsingGET
      x-api-path-slug: dagsstatusdagnametaskstaskidrunsrunid-get
      parameters:
      - in: path
        name: dagName
        description: dagName
      - in: path
        name: runId
        description: runId
      - in: path
        name: taskId
        description: taskId
      responses:
        200:
          description: Successful response
      tags:
      - Dags
      - Status
      - Tasks
      - Taskid
      - Runs
      - Runid
  /dags/statusall:
    get:
      summary: Get Dags Statusall
      description: Get dags statusall.
      operationId: getDagsByTenantUsingGET
      x-api-path-slug: dagsstatusall-get
      responses:
        200:
          description: Successful response
      tags:
      - Dags
      - Statusall
  /dags/tags:
    get:
      summary: Get Dags Tags
      description: Get dags tags.
      operationId: getAllDagTagsUsingGET
      x-api-path-slug: dagstags-get
      responses:
        200:
          description: Successful response
      tags:
      - Dags
      - Tags
  /dags/trigger/{dagName}/{dagId}:
    post:
      summary: Post Dags Trigger
      description: Post dags trigger.
      operationId: triggerDAGUsingPOST
      x-api-path-slug: dagstriggerdagnamedagid-post
      parameters:
      - in: query
        name: dagId
        description: dagId
      - in: query
        name: dagName
        description: Dag Reference Id
      - in: body
        name: jsonBody
        description: jsonBody
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: Successful response
      tags:
      - Dags
      - Trigger
  /dags/{dagName}:
    get:
      summary: Get Dags
      description: Get dags.
      operationId: getDAGUsingGET
      x-api-path-slug: dagsdagname-get
      parameters:
      - in: path
        name: dagName
        description: dagName
      responses:
        200:
          description: Successful response
      tags:
      - Dags
    post:
      summary: Post Dags
      description: Post dags.
      operationId: updateDAGUsingPOST_1
      x-api-path-slug: dagsdagname-post
      parameters:
      - in: path
        name: dagName
        description: dagName
      responses:
        200:
          description: Successful response
      tags:
      - Dags
    delete:
      summary: Delete Dags
      description: Delete dags.
      operationId: deleteDAGUsingDELETE
      x-api-path-slug: dagsdagname-delete
      parameters:
      - in: path
        name: dagName
        description: dagName
      responses:
        200:
          description: Successful response
      tags:
      - Dags
  /dags/{dagName}/deploy:
    post:
      summary: Post Dags Deploy
      description: Post dags deploy.
      operationId: deployDAGUsingPOST
      x-api-path-slug: dagsdagnamedeploy-post
      parameters:
      - in: path
        name: dagName
        description: dagName
      responses:
        200:
          description: Successful response
      tags:
      - Dags
      - Deploy
  /dependencies:
    get:
      summary: Get Dependencies
      description: Get dependencies.
      operationId: getDependencyListUsingGET
      x-api-path-slug: dependencies-get
      parameters:
      - in: query
        name: page
        description: Results page you want to retrieve (0
      - in: query
        name: size
        description: Number of records per page
      - in: query
        name: sort
        description: 'Sorting criteria in the format: property(,asc|desc)'
      responses:
        200:
          description: Successful response
      tags:
      - Dependencies
    post:
      summary: Post Dependencies
      description: Post dependencies.
      operationId: createDependencyUsingPOST
      x-api-path-slug: dependencies-post
      responses:
        200:
          description: Successful response
      tags:
      - Dependencies
  /dependencies/deploy:
    post:
      summary: Post Dependencies Deploy
      description: Post dependencies deploy.
      operationId: deployDependencyUsingPOST_1
      x-api-path-slug: dependenciesdeploy-post
      parameters:
      - in: query
        name: id
        description: id
      responses:
        200:
          description: Successful response
      tags:
      - Dependencies
      - Deploy
  /dependencies/deploy/{dependencyId}:
    post:
      summary: Post Dependencies Deploy Dependencyid
      description: Post dependencies deploy dependencyid.
      operationId: deployDependencyUsingPOST
      x-api-path-slug: dependenciesdeploydependencyid-post
      parameters:
      - in: path
        name: dependencyId
        description: dependencyId
      responses:
        200:
          description: Successful response
      tags:
      - Dependencies
      - Deploy
      - Dependencyid
  /dependencies/tags:
    get:
      summary: Get Dependencies Tags
      description: Get dependencies tags.
      operationId: getAllDependencyTagsUsingGET
      x-api-path-slug: dependenciestags-get
      responses:
        200:
          description: Successful response
      tags:
      - Dependencies
      - Tags
  /dependencies/undeploy:
    post:
      summary: Post Dependencies Undeploy
      description: Post dependencies undeploy.
      operationId: undeployDependencyUsingPOST_1
      x-api-path-slug: dependenciesundeploy-post
      parameters:
      - in: query
        name: id
        description: id
      responses:
        200:
          description: Successful response
      tags:
      - Dependencies
      - Undeploy
  /dependencies/undeploy/{dependencyId}:
    post:
      summary: Post Dependencies Undeploy Dependencyid
      description: Post dependencies undeploy dependencyid.
      operationId: undeployDependencyUsingPOST
      x-api-path-slug: dependenciesundeploydependencyid-post
      parameters:
      - in: path
        name: dependencyId
        description: dependencyId
      responses:
        200:
          description: Successful response
      tags:
      - Dependencies
      - Undeploy
      - Dependencyid
  /dependencies/{dependencyId}:
    get:
      summary: Get Dependencies Dependencyid
      description: Get dependencies dependencyid.
      operationId: getDependencyUsingGET
      x-api-path-slug: dependenciesdependencyid-get
      parameters:
      - in: path
        name: dependencyId
        description: dependencyId
      responses:
        200:
          description: Successful response
      tags:
      - Dependencies
      - Dependencyid
    post:
      summary: Post Dependencies Dependencyid
      description: Post dependencies dependencyid.
      operationId: updateDependencyUsingPOST
      x-api-path-slug: dependenciesdependencyid-post
      parameters:
      - in: path
        name: dependencyId
        description: dependencyId
      responses:
        200:
          description: Successful response
      tags:
      - Dependencies
      - Dependencyid
    delete:
      summary: Delete Dependencies Dependencyid
      description: Delete dependencies dependencyid.
      operationId: deleteDependencyUsingDELETE
      x-api-path-slug: dependenciesdependencyid-delete
      parameters:
      - in: path
        name: dependencyId
        description: dependencyId
      responses:
        200:
          description: Successful response
      tags:
      - Dependencies
      - Dependencyid
  /flow-templates:
    get:
      summary: Get Flow Templates
      description: Get flow templates.
      operationId: getFlowTemplatesUsingGET
      x-api-path-slug: flowtemplates-get
      parameters:
      - in: query
        name: displayShellTemplates
        description: displayShellTemplates
      - in: query
        name: maxUpdateTime
        description: maxUpdateTime
      - in: query
        name: minUpdateTime
        description: minUpdateTime
      - in: query
        name: name
        description: name
      - in: query
        name: page
        description: Results page you want to retrieve (0
      - in: query
        name: size
        description: Number of records per page
      - in: query
        name: sort
        description: 'Sorting criteria in the format: property(,asc|desc)'
      - in: query
        name: tag
        description: tag
      - in: query
        name: type
        description: type
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
    post:
      summary: Post Flow Templates
      description: Post flow templates.
      operationId: saveFlowTemplateUsingPOST
      x-api-path-slug: flowtemplates-post
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
  /flow-templates/tags:
    get:
      summary: Get Flow Templates Tags
      description: Get flow templates tags.
      operationId: getAllFlowTemplateTagsUsingGET
      x-api-path-slug: flowtemplatestags-get
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Tags
  /flow-templates/{flowTemplateId}:
    get:
      summary: Get Flow Templates Flowtemplateid
      description: Get flow templates flowtemplateid.
      operationId: getFlowTemplateUsingGET
      x-api-path-slug: flowtemplatesflowtemplateid-get
      parameters:
      - in: path
        name: flowTemplateId
        description: flowTemplateId
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
    post:
      summary: Post Flow Templates Flowtemplateid
      description: Post flow templates flowtemplateid.
      operationId: updateFlowTemplateUsingPOST
      x-api-path-slug: flowtemplatesflowtemplateid-post
      parameters:
      - in: path
        name: flowTemplateId
        description: flowTemplateId
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
    put:
      summary: Put Flow Templates Flowtemplateid
      description: Put flow templates flowtemplateid.
      operationId: updateFlowTemplateUsingPUT
      x-api-path-slug: flowtemplatesflowtemplateid-put
      parameters:
      - in: body
        name: flowTemplate
        description: flowTemplate
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: flowTemplateId
        description: flowTemplateId
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
    delete:
      summary: Delete Flow Templates Flowtemplateid
      description: Delete flow templates flowtemplateid.
      operationId: deleteFlowTemplateUsingDELETE
      x-api-path-slug: flowtemplatesflowtemplateid-delete
      parameters:
      - in: path
        name: flowTemplateId
        description: flowTemplateId
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
  /flow-templates/{flowTemplateId}/download:
    get:
      summary: Get Flow Templates Flowtemplateid Download
      description: Get flow templates flowtemplateid download.
      operationId: getFlowTemplateFileUsingGET
      x-api-path-slug: flowtemplatesflowtemplateiddownload-get
      parameters:
      - in: path
        name: flowTemplateId
        description: flowTemplateId
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
      - Download
  /flow-templates/{flowTemplateId}/flows:
    get:
      summary: Get Flow Templates Flowtemplateid Flows
      description: Get flow templates flowtemplateid flows.
      operationId: getFlowsUsingGET_1
      x-api-path-slug: flowtemplatesflowtemplateidflows-get
      parameters:
      - in: path
        name: flowTemplateId
        description: flowTemplateId
      - in: query
        name: maxUpdateTime
        description: maxUpdateTime
      - in: query
        name: minUpdateTime
        description: minUpdateTime
      - in: query
        name: name
        description: name
      - in: query
        name: page
        description: Results page you want to retrieve (0
      - in: query
        name: size
        description: Number of records per page
      - in: query
        name: sort
        description: 'Sorting criteria in the format: property(,asc|desc)'
      - in: query
        name: tag
        description: tag
      - in: query
        name: type
        description: type
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
      - Flows
    post:
      summary: Post Flow Templates Flowtemplateid Flows
      description: Post flow templates flowtemplateid flows.
      operationId: saveFlowUsingPOST_1
      x-api-path-slug: flowtemplatesflowtemplateidflows-post
      parameters:
      - in: path
        name: flowTemplateId
        description: flowTemplateId
      - in: query
        name: launch
        description: launch
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
      - Flows
  /flow-templates/{flowTemplateId}/flows/{flowId}:
    get:
      summary: Get Flow Templates Flowtemplateid Flows Flowid
      description: Get flow templates flowtemplateid flows flowid.
      operationId: getFlowUsingGET_1
      x-api-path-slug: flowtemplatesflowtemplateidflowsflowid-get
      parameters:
      - in: path
        name: flowId
        description: flowId
      - in: path
        name: flowTemplateId
        description: flowTemplateId
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
      - Flows
      - Flowid
    post:
      summary: Post Flow Templates Flowtemplateid Flows Flowid
      description: Post flow templates flowtemplateid flows flowid.
      operationId: updateFlowUsingPOST_1
      x-api-path-slug: flowtemplatesflowtemplateidflowsflowid-post
      parameters:
      - in: body
        name: flow
        description: flow
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: flowId
        description: flowId
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
      - Flows
      - Flowid
    delete:
      summary: Delete Flow Templates Flowtemplateid Flows Flowid
      description: Delete flow templates flowtemplateid flows flowid.
      operationId: deleteFlowUsingDELETE_1
      x-api-path-slug: flowtemplatesflowtemplateidflowsflowid-delete
      parameters:
      - in: path
        name: flowId
        description: flowId
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
      - Flows
      - Flowid
  /flow-templates/{flowTemplateId}/flows/{flowId}/config:
    get:
      summary: Get Flow Templates Flowtemplateid Flows Flowid Config
      description: Get flow templates flowtemplateid flows flowid config.
      operationId: listFlowConfigFilesUsingGET_1
      x-api-path-slug: flowtemplatesflowtemplateidflowsflowidconfig-get
      parameters:
      - in: path
        name: flowId
        description: flowId
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
      - Flows
      - Flowid
      - Config
    post:
      summary: Post Flow Templates Flowtemplateid Flows Flowid Config
      description: Post flow templates flowtemplateid flows flowid config.
      operationId: addFlowConfigFileUsingPOST_1
      x-api-path-slug: flowtemplatesflowtemplateidflowsflowidconfig-post
      parameters:
      - in: path
        name: flowId
        description: flowId
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
      - Flows
      - Flowid
      - Config
  /flow-templates/{flowTemplateId}/flows/{flowId}/config/{fileName}:
    get:
      summary: Get Flow Templates Flowtemplateid Flows Flowid Config Filename
      description: Get flow templates flowtemplateid flows flowid config filename.
      operationId: getFlowConfigFileUsingGET_1
      x-api-path-slug: flowtemplatesflowtemplateidflowsflowidconfigfilename-get
      parameters:
      - in: path
        name: fileName
        description: fileName
      - in: path
        name: flowId
        description: flowId
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
      - Flows
      - Flowid
      - Config
      - Filename
    delete:
      summary: Delete Flow Templates Flowtemplateid Flows Flowid Config Filename
      description: Delete flow templates flowtemplateid flows flowid config filename.
      operationId: deleteFlowConfigFileUsingDELETE_1
      x-api-path-slug: flowtemplatesflowtemplateidflowsflowidconfigfilename-delete
      parameters:
      - in: path
        name: fileName
        description: fileName
      - in: path
        name: flowId
        description: flowId
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
      - Flows
      - Flowid
      - Config
      - Filename
  /flow-templates/{flowTemplateId}/flows/{flowId}/launch:
    post:
      summary: Post Flow Templates Flowtemplateid Flows Flowid Launch
      description: Post flow templates flowtemplateid flows flowid launch.
      operationId: launchUsingPOST_1
      x-api-path-slug: flowtemplatesflowtemplateidflowsflowidlaunch-post
      parameters:
      - in: path
        name: flowId
        description: flowId
      - in: body
        name: launchRequest
        description: launchRequest
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
      - Flows
      - Flowid
      - Launch
  /flow-templates/{flowTemplateId}/flows/{flowId}/stop:
    post:
      summary: Post Flow Templates Flowtemplateid Flows Flowid Stop
      description: Post flow templates flowtemplateid flows flowid stop.
      operationId: stopUsingPOST_1
      x-api-path-slug: flowtemplatesflowtemplateidflowsflowidstop-post
      parameters:
      - in: path
        name: flowId
        description: flowId
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
      - Flows
      - Flowid
      - Stop
  /flow-templates/{flowTemplateId}/flows/{flowId}/tags:
    get:
      summary: Get Flow Templates Flowtemplateid Flows Flowid Tags
      description: Get flow templates flowtemplateid flows flowid tags.
      operationId: getFlowTagsUsingGET
      x-api-path-slug: flowtemplatesflowtemplateidflowsflowidtags-get
      parameters:
      - in: path
        name: flowId
        description: flowId
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
      - Flows
      - Flowid
      - Tags
    post:
      summary: Post Flow Templates Flowtemplateid Flows Flowid Tags
      description: Post flow templates flowtemplateid flows flowid tags.
      operationId: saveFlowTagsUsingPOST_1
      x-api-path-slug: flowtemplatesflowtemplateidflowsflowidtags-post
      parameters:
      - in: path
        name: flowId
        description: flowId
      - in: body
        name: tags
        description: tags
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
      - Flows
      - Flowid
      - Tags
  /flow-templates/{flowTemplateId}/list:
    get:
      summary: Get Flow Templates Flowtemplateid List
      description: Get flow templates flowtemplateid list.
      operationId: listFlowTemplateAnalyticFileUsingGET
      x-api-path-slug: flowtemplatesflowtemplateidlist-get
      parameters:
      - in: path
        name: flowTemplateId
        description: flowTemplateId
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
      - List
  /flow-templates/{flowTemplateId}/tags:
    get:
      summary: Get Flow Templates Flowtemplateid Tags
      description: Get flow templates flowtemplateid tags.
      operationId: getTemplateTagsUsingGET
      x-api-path-slug: flowtemplatesflowtemplateidtags-get
      parameters:
      - in: path
        name: flowTemplateId
        description: flowTemplateId
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
      - Tags
    post:
      summary: Post Flow Templates Flowtemplateid Tags
      description: Post flow templates flowtemplateid tags.
      operationId: saveTemplateTagsUsingPOST
      x-api-path-slug: flowtemplatesflowtemplateidtags-post
      parameters:
      - in: path
        name: flowTemplateId
        description: flowTemplateId
      - in: body
        name: tags
        description: tags
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: Successful response
      tags:
      - Flow
      - Templates
      - Flowtemplateid
      - Tags
  /flows:
    get:
      summary: Get Flows
      description: Get flows.
      operationId: getFlowsUsingGET
      x-api-path-slug: flows-get
      parameters:
      - in: query
        name: maxUpdateTime
        description: maxUpdateTime
      - in: query
        name: minUpdateTime
        description: minUpdateTime
      - in: query
        name: name
        description: name
      - in: query
        name: page
        description: Results page you want to retrieve (0
      - in: query
        name: size
        description: Number of records per page
      - in: query
        name: sort
        description: 'Sorting criteria in the format: property(,asc|desc)'
      - in: query
        name: tag
        description: tag
      - in: query
        name: type
        description: type
      responses:
        200:
          description: Successful response
      tags:
      - Flows
    post:
      summary: Post Flows
      description: Post flows.
      operationId: saveDirectFlowUsingPOST
      x-api-path-slug: flows-post
      responses:
        200:
          description: Successful response
      tags:
      - Flows
  /flows/tags:
    get:
      summary: Get Flows Tags
      description: Get flows tags.
      operationId: getAllFlowTagsUsingGET
      x-api-path-slug: flowstags-get
      responses:
        200:
          description: Successful response
      tags:
      - Flows
      - Tags
  /flows/{flowId}:
    post:
      summary: Post Flows Flowid
      description: Post flows flowid.
      operationId: updateDirectFlowUsingPOST
      x-api-path-slug: flowsflowid-post
      parameters:
      - in: path
        name: flowId
        description: flowId
      responses:
        200:
          description: Successful response
      tags:
      - Flows
      - Flowid
    delete:
      summary: Delete Flows Flowid
      description: Delete flows flowid.
      operationId: deleteFlowUsingDELETE
      x-api-path-slug: flowsflowid-delete
      parameters:
      - in: path
        name: flowId
        description: flowId
      responses:
        200:
          description: Successful response
      tags:
      - Flows
      - Flowid
  /flows/{flowId}/config:
    get:
      summary: Get Flows Flowid Config
      description: Get flows flowid config.
      operationId: listFlowConfigFilesUsingGET
      x-api-path-slug: flowsflowidconfig-get
      parameters:
      - in: path
        name: flowId
        description: flowId
      responses:
        200:
          description: Successful response
      tags:
      - Flows
      - Flowid
      - Config
    post:
      summary: Post Flows Flowid Config
      description: Post flows flowid config.
      operationId: addFlowConfigFileUsingPOST
      x-api-path-slug: flowsflowidconfig-post
      parameters:
      - in: path
        name: flowId
        description: flowId
      responses:
        200:
          description: Successful response
      tags:
      - Flows
      - Flowid
      - Config
  /flows/{flowId}/config/{fileName}:
    get:
      summary: Get Flows Flowid Config Filename
      description: Get flows flowid config filename.
      operationId: getFlowConfigFileUsingGET
      x-api-path-slug: flowsflowidconfigfilename-get
      parameters:
      - in: path
        name: fileName
        description: fileName
      - in: path
        name: flowId
        description: flowId
      responses:
        200:
          description: Successful response
      tags:
      - Flows
      - Flowid
      - Config
      - Filename
    delete:
      summary: Delete Flows Flowid Config Filename
      description: Delete flows flowid config filename.
      operationId: deleteFlowConfigFileUsingDELETE
      x-api-path-slug: flowsflowidconfigfilename-delete
      parameters:
      - in: path
        name: fileName
        description: fileName
      - in: path
        name: flowId
        description: flowId
      responses:
        200:
          description: Successful response
      tags:
      - Flows
      - Flowid
      - Config
      - Filename
  /flows/{flowId}/create-template:
    post:
      summary: Post Flows Flowid Create Template
      description: Post flows flowid create template.
      operationId: createTemplateFromDirectFlowUsingPOST
      x-api-path-slug: flowsflowidcreatetemplate-post
      parameters:
      - in: path
        name: flowId
        description: flowId
      responses:
        200:
          description: Successful response
      tags:
      - Flows
      - Flowid
      - Template
  /flows/{flowId}/download:
    get:
      summary: Get Flows Flowid Download
      description: Get flows flowid download.
      operationId: getFlowAnalyticFileUsingGET
      x-api-path-slug: flowsflowiddownload-get
      parameters:
      - in: path
        name: flowId
        description: flowId
      responses:
        200:
          description: Successful response
      tags:
      - Flows
      - Flowid
      - Download
  /flows/{flowId}/tags:
    post:
      summary: Post Flows Flowid Tags
      description: Post flows flowid tags.
      operationId: saveFlowTagsUsingPOST
      x-api-path-slug: flowsflowidtags-post
      parameters:
      - in: path
        name: flowId
        description: flowId
      - in: body
        name: tags
        description: tags
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: Successful response
      tags:
      - Flows
      - Flowid
      - Tags
  /flows/{flowName}:
    get:
      summary: Get Flows Flowname
      description: Get flows flowname.
      operationId: getFlowUsingGET
      x-api-path-slug: flowsflowname-get
      parameters:
      - in: path
        name: flowName
        description: flowName
      - in: query
        name: id
        description: id
      responses:
        200:
          description: Successful response
      tags:
      - Flows
      - Flowname
  /flows/{flowName}/launch:
    post:
      summary: Post Flows Flowname Launch
      description: Post flows flowname launch.
      operationId: launchUsingPOST
      x-api-path-slug: flowsflownamelaunch-post
      parameters:
      - in: path
        name: flowName
        description: flowName
      - in: body
        name: launchRequest
        description: launchRequest
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: Successful response
      tags:
      - Flows
      - Flowname
      - Launch
  /flows/{flowName}/stop:
    post:
      summary: Post Flows Flowname Stop
      description: Post flows flowname stop.
      operationId: stopUsingPOST
      x-api-path-slug: flowsflownamestop-post
      parameters:
      - in: path
        name: flowName
        description: flowName
      responses:
        200:
          description: Successful response
      tags:
      - Flows
      - Flowname
      - Stop
  /instances:
    get:
      summary: Get Instances
      description: Get instances.
      operationId: findInstancesUsingGET
      x-api-path-slug: instances-get
      parameters:
      - in: query
        name: flowName
        description: flowName
      - in: query
        name: maxUpdateTime
        description: maxUpdateTime
      - in: query
        name: minUpdateTime
        description: minUpdateTime
      - in: query
        name: name
        description: name
      - in: query
        name: page
        description: Results page you want to retrieve (0
      - in: query
        name: size
        description: Number of records per page
      - in: query
        name: sort
        description: 'Sorting criteria in the format: property(,asc|desc)'
      - in: query
        name: statuses
        description: statuses
      - in: query
        name: tag
        description: tag
      - in: query
        name: type
        description: type
      responses:
        200:
          description: Successful response
      tags:
      - Instances
  /instances/{instanceId}:
    get:
      summary: Get Instances Instanceid
      description: Get instances instanceid.
      operationId: getInstanceUsingGET
      x-api-path-slug: instancesinstanceid-get
      parameters:
      - in: path
        name: instanceId
        description: instanceId
      responses:
        200:
          description: Successful response
      tags:
      - Instances
      - Instanceid
    delete:
      summary: Delete Instances Instanceid
      description: Delete instances instanceid.
      operationId: stopInstanceUsingDELETE
      x-api-path-slug: instancesinstanceid-delete
      parameters:
      - in: path
        name: instanceId
        description: instanceId
      responses:
        200:
          description: Successful response
      tags:
      - Instances
      - Instanceid
  /instances/{instanceId}/appattempts/{attemptId}/containers:
    get:
      summary: Get Instances Instanceid Appattempts Attemptid Containers
      description: Get instances instanceid appattempts attemptid containers.
      operationId: getInstanceAttemptContainersUsingGET
      x-api-path-slug: instancesinstanceidappattemptsattemptidcontainers-get
      parameters:
      - in: path
        name: attemptId
        description: attemptId
      - in: path
        name: instanceId
        description: instanceId
      responses:
        200:
          description: Successful response
      tags:
      - Instances
      - Instanceid
      - Appattempts
      - Attemptid
      - Containers
  /instances/{instanceId}/config:
    get:
      summary: Get Instances Instanceid Config
      description: Get instances instanceid config.
      operationId: listInstanceConfigFileUsingGET
      x-api-path-slug: instancesinstanceidconfig-get
      parameters:
      - in: path
        name: instanceId
        description: instanceId
      responses:
        200:
          description: Successful response
      tags:
      - Instances
      - Instanceid
      - Config
  /instances/{instanceId}/config/{fileName}:
    get:
      summary: Get Instances Instanceid Config Filename
      description: Get instances instanceid config filename.
      operationId: getInstanceConfigFileUsingGET
      x-api-path-slug: instancesinstanceidconfigfilename-get
      parameters:
      - in: path
        name: fileName
        description: fileName
      - in: path
        name: instanceId
        description: instanceId
      responses:
        200:
          description: Successful response
      tags:
      - Instances
      - Instanceid
      - Config
      - Filename
  /instances/{instanceId}/containers:
    get:
      summary: Get Instances Instanceid Containers
      description: Get instances instanceid containers.
      operationId: getInstanceContainersUsingGET
      x-api-path-slug: instancesinstanceidcontainers-get
      parameters:
      - in: path
        name: instanceId
        description: instanceId
      responses:
        200:
          description: Successful response
      tags:
      - Instances
      - Instanceid
      - Containers
  /instances/{instanceId}/containers/{containerId}/logs:
    get:
      summary: Get Instances Instanceid Containers Containerid Logs
      description: Get instances instanceid containers containerid logs.
      operationId: getInstanceContainerLogsUsingGET
      x-api-path-slug: instancesinstanceidcontainerscontaineridlogs-get
      parameters:
      - in: path
        name: containerId
        description: containerId
      - in: path
        name: instanceId
        description: instanceId
      responses:
        200:
          description: Successful response
      tags:
      - Instances
      - Instanceid
      - Containers
      - Containerid
      - Logs
  /instances/{instanceId}/containers/{containerId}/logs/{logName}:
    get:
      summary: Get Instances Instanceid Containers Containerid Logs Logname
      description: Get instances instanceid containers containerid logs logname.
      operationId: getInstanceContainerLogContentsUsingGET
      x-api-path-slug: instancesinstanceidcontainerscontaineridlogslogname-get
      parameters:
      - in: path
        name: containerId
        description: containerId
      - in: path
        name: instanceId
        description: instanceId
      - in: query
        name: length
        description: length
      - in: path
        name: logName
        description: logName
      - in: query
        name: offset
        description: offset
      responses:
        200:
          description: Successful response
      tags:
      - Instances
      - Instanceid
      - Containers
      - Containerid
      - Logs
      - Logname
  /instances/{instanceId}/sparkproxy/**:
    get:
      summary: Get Instances Instanceid Sparkproxy **
      description: Get instances instanceid sparkproxy **.
      operationId: getInstanceSparkProxyUsingGET
      x-api-path-slug: instancesinstanceidsparkproxy-get
      parameters:
      - in: path
        name: instanceId
        description: instanceId
      responses:
        200:
          description: Successful response
      tags:
      - Instances
      - Instanceid
      - Sparkproxy
      - '**'
    head:
      summary: Head Instances Instanceid Sparkproxy **
      description: Head instances instanceid sparkproxy **.
      operationId: getInstanceSparkProxyUsingHEAD
      x-api-path-slug: instancesinstanceidsparkproxy-head
      parameters:
      - in: path
        name: instanceId
        description: instanceId
      responses:
        200:
          description: Successful response
      tags:
      - Head
      - Instances
      - Instanceid
      - Sparkproxy
      - '**'
    post:
      summary: Post Instances Instanceid Sparkproxy **
      description: Post instances instanceid sparkproxy **.
      operationId: getInstanceSparkProxyUsingPOST
      x-api-path-slug: instancesinstanceidsparkproxy-post
      parameters:
      - in: path
        name: instanceId
        description: instanceId
      responses:
        200:
          description: Successful response
      tags:
      - Instances
      - Instanceid
      - Sparkproxy
      - '**'
    put:
      summary: Put Instances Instanceid Sparkproxy **
      description: Put instances instanceid sparkproxy **.
      operationId: getInstanceSparkProxyUsingPUT
      x-api-path-slug: instancesinstanceidsparkproxy-put
      parameters:
      - in: path
        name: instanceId
        description: instanceId
      responses:
        200:
          description: Successful response
      tags:
      - Instances
      - Instanceid
      - Sparkproxy
      - '**'
    delete:
      summary: Delete Instances Instanceid Sparkproxy **
      description: Delete instances instanceid sparkproxy **.
      operationId: getInstanceSparkProxyUsingDELETE
      x-api-path-slug: instancesinstanceidsparkproxy-delete
      parameters:
      - in: path
        name: instanceId
        description: instanceId
      responses:
        200:
          description: Successful response
      tags:
      - Instances
      - Instanceid
      - Sparkproxy
      - '**'
    options:
      summary: Options Instances Instanceid Sparkproxy **
      description: Options instances instanceid sparkproxy **.
      operationId: getInstanceSparkProxyUsingOPTIONS
      x-api-path-slug: instancesinstanceidsparkproxy-options
      parameters:
      - in: path
        name: instanceId
        description: instanceId
      responses:
        200:
          description: Successful response
      tags:
      - Options
      - Instances
      - Instanceid
      - Sparkproxy
      - '**'
    patch:
      summary: Patch Instances Instanceid Sparkproxy **
      description: Patch instances instanceid sparkproxy **.
      operationId: getInstanceSparkProxyUsingPATCH
      x-api-path-slug: instancesinstanceidsparkproxy-patch
      parameters:
      - in: path
        name: instanceId
        description: instanceId
      responses:
        200:
          description: Successful response
      tags:
      - Instances
      - Instanceid
      - Sparkproxy
      - '**'
  /instances/{instanceId}/submit-logs:
    get:
      summary: Get Instances Instanceid Submit Logs
      description: Get instances instanceid submit logs.
      operationId: getSparkSubmitLogsUsingGET
      x-api-path-slug: instancesinstanceidsubmitlogs-get
      parameters:
      - in: path
        name: instanceId
        description: instanceId
      - in: query
        name: length
        description: length
      - in: query
        name: offset
        description: offset
      responses:
        200:
          description: Successful response
      tags:
      - Instances
      - Instanceid
      - Submit
      - Logs