swagger: "2.0"
x-collection-name: Predix
x-complete: 1
info:
  title: Enterprise Connect API (osaka.67)
  description: enterprise-connect-service--api
  version: 1.0.0
host: ec-predix-service-osaka.run.aws-usw02-pr.ice.predix.io
basePath: /v1
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /api/settings:
    get:
      summary: Get EC Gateway settings
      description: Get your EC Gateway settings details
      operationId: get-your-ec-gateway-settings-details
      x-api-path-slug: apisettings-get
      parameters:
      - in: header
        name: Authorization
        description: Bearer *your_token
      - in: header
        name: Predix-Zone-Id
      responses:
        200:
          description: Successful response
      tags:
      - EC
      - Gateway
      - Settings
  /api/token/validate:
    post:
      summary: Validate the oauth2 token
      description: Validate the oauth2 token for the gateway usage
      operationId: validate-the-oauth2-token-for-the-gateway-usage
      x-api-path-slug: apitokenvalidate-post
      parameters:
      - in: header
        name: Authorization
        description: Bearer *your_token
      - in: header
        name: Predix-Zone-Id
      responses:
        200:
          description: Successful response
      tags:
      - Validate
      - Oauth2
      - Token
  /health/check:
    get:
      summary: Validate the EC service status
      description: Validate the EC API status
      operationId: validate-the-ec-api-status
      x-api-path-slug: healthcheck-get
      responses:
        200:
          description: Successful response
      tags:
      - Validate
      - EC
      - Service
      - Status
  /health/memory:
    get:
      summary: Validate the EC service memory usage
      description: Validate the EC gateway memory usage
      operationId: validate-the-ec-gateway-memory-usage
      x-api-path-slug: healthmemory-get
      responses:
        200:
          description: Successful response
      tags:
      - Validate
      - EC
      - Service
      - Memory
      - Usage
  /reports/usage:
    post:
      summary: Report usage
      description: Report usage by zoneid
      operationId: report-usage-by-zoneid
      x-api-path-slug: reportsusage-post
      parameters:
      - in: header
        name: Authorization
        description: Basic *token
      - in: body
        name: content
        description: The content for reporting the usage
        schema:
          $ref: '#/definitions/holder'
      - in: header
        name: predix-zone-id
        description: Cloud Foundry service instance id
      responses:
        200:
          description: Successful response
      tags:
      - Report
      - Usage
    get:
      summary: Get last usage
      description: get last usage by zoneid
      operationId: get-last-usage-by-zoneid
      x-api-path-slug: reportsusage-get
      parameters:
      - in: header
        name: Authorization
        description: Basic *token
      - in: header
        name: predix-zone-id
        description: Cloud Foundry service instance id
      responses:
        200:
          description: Successful response
      tags:
      - Last
      - Usage
  /certs:
    post:
      summary: Request a digital certificate
      description: Submit a CSR for a certificate for the EC usage
      operationId: submit-a-csr-for-a-certificate-for-the-ec-usage
      x-api-path-slug: certs-post
      parameters:
      - in: header
        name: Authorization
        description: Basic *token
      - in: body
        name: content
        description: The CSR content in pem format
        schema:
          $ref: '#/definitions/holder'
      - in: header
        name: predix-zone-id
        description: Cloud Foundry service instance id
      responses:
        200:
          description: Successful response
      tags:
      - Request
      - Digital
      - Certificate
    get:
      summary: Retrieve current certificate
      description: Retrieve the current certificate issued by the GE Digital CA.
      operationId: retrieve-the-current-certificate-issued-by-the-ge-digital-ca
      x-api-path-slug: certs-get
      parameters:
      - in: header
        name: Authorization
        description: Basic *token
      - in: header
        name: predix-zone-id
        description: Cloud Foundry service instance id
      responses:
        200:
          description: Successful response
      tags:
      - Retrieve
      - Current
      - Certificate
  /admin/accounts/{predix-zone-id}:
    post:
      summary: Create an EC system account
      description: Create a EC system account with the CF details
      operationId: create-a-ec-system-account-with-the-cf-details
      x-api-path-slug: adminaccountspredixzoneid-post
      parameters:
      - in: header
        name: Authorization
        description: Basic *token
      - in: path
        name: predix-zone-id
        description: Cloud Foundry service instance details
      - in: body
        name: settings
        description: Cloud Foundry setting details
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: Successful response
      tags:
      - EC
      - System
      - Account
    get:
      summary: Get the EC system account
      description: Get an existing EC system account by predix zone id
      operationId: get-an-existing-ec-system-account-by-predix-zone-id
      x-api-path-slug: adminaccountspredixzoneid-get
      parameters:
      - in: header
        name: Authorization
        description: Basic *token
      - in: path
        name: predix-zone-id
        description: pass the predix zone id
      responses:
        200:
          description: Successful response
      tags:
      - EC
      - System
      - Account
    delete:
      summary: Delete the EC system account
      description: Delete an existing EC system account by predix zone id
      operationId: delete-an-existing-ec-system-account-by-predix-zone-id
      x-api-path-slug: adminaccountspredixzoneid-delete
      parameters:
      - in: header
        name: Authorization
        description: Basic *token
      - in: path
        name: predix-zone-id
        description: pass the predix zone id
      responses:
        200:
          description: Successful response
      tags:
      - EC
      - System
      - Account
    put:
      summary: Update the EC gateway setting in the account
      description: Update the EC gateway setting in the account with the CF details
      operationId: update-the-ec-gateway-setting-in-the-account-with-the-cf-details
      x-api-path-slug: adminaccountspredixzoneid-put
      parameters:
      - in: header
        name: Authorization
        description: Basic *token
      - in: path
        name: predix-zone-id
        description: Predix Zone Id
      - in: body
        name: settings
        description: Cloud Foundry setting destails
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: Successful response
      tags:
      - EC
      - Gateway
      - Setting
      - In
      - Account