swagger: "2.0"
x-collection-name: Predix
x-complete: 1
info:
  title: Fingerprint of Things Object Tagging Service
  description: query-objects-by-their-unique-microscopic-surface-features-trace-parts-and-detect-counterfeits-
  contact:
    name: NEC
  version: 1.0.0
host: fingerprint-of-things-ga1-dast.run.aws-usw02-pr.ice.predix.io
basePath: /
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /v1/group/createGroup:
    post:
      summary: Create Group
      description: Create group.
      operationId: createGroup
      x-api-path-slug: v1groupcreategroup-post
      parameters:
      - in: header
        name: 'Authorization: Bearer'
        description: OAuth2 token
      - in: body
        name: body
        description: Request body
        schema:
          $ref: '#/definitions/holder'
      - in: header
        name: Predix-Zone-Id
        description: Zone ID
      responses:
        200:
          description: OK
      tags:
      - Group
  /v1/group/deleteGroup:
    post:
      summary: Delete Group
      description: Delete group.
      operationId: deleteGroup
      x-api-path-slug: v1groupdeletegroup-post
      parameters:
      - in: header
        name: 'Authorization: Bearer'
        description: OAuth2 token
      - in: body
        name: body
        description: Request body
        schema:
          $ref: '#/definitions/holder'
      - in: header
        name: Predix-Zone-Id
        description: Zone ID
      responses:
        200:
          description: OK
      tags:
      - Group
  /v1/object/preregisterObject:
    post:
      summary: Object Pre-Register
      description: Pre-register object with image.<br> Individual ID must be designated
        by user.
      operationId: userIssue
      x-api-path-slug: v1objectpreregisterobject-post
      parameters:
      - in: formData
        name: applyFlag
        description: '* DO NOT USE'
      - in: header
        name: 'Authorization: Bearer'
        description: OAuth2 token
      - in: formData
        name: individualId
        description: Individual ID
      - in: header
        name: Predix-Zone-Id
        description: Zone ID
      - in: formData
        name: registImage
        description: 'Image data(Max file size: 5MByte)'
      responses:
        200:
          description: OK
      tags:
      - Object
      - Pre-Register
  /v1/object/preregisterObjectWithoutID:
    post:
      summary: Object Pre-Register without ID
      description: Pre-register object with image.<br> Individual ID will be issued
        from system.
      operationId: systemIssue
      x-api-path-slug: v1objectpreregisterobjectwithoutid-post
      parameters:
      - in: formData
        name: applyFlag
        description: '* DO NOT USE'
      - in: header
        name: 'Authorization: Bearer'
        description: OAuth2 token
      - in: header
        name: Predix-Zone-Id
        description: Zone ID
      - in: formData
        name: registImage
        description: 'Image data(Max file size: 5MByte)'
      responses:
        200:
          description: OK
      tags:
      - Object
      - Pre-Register
      - Without
      - ID
  /v1/object/deleteRegisteredObject:
    post:
      summary: Delete Registered Object
      description: Delete registered object.
      operationId: deleteRegularRegistration
      x-api-path-slug: v1objectdeleteregisteredobject-post
      parameters:
      - in: header
        name: 'Authorization: Bearer'
        description: OAuth2 token
      - in: body
        name: body
        description: Request body
        schema:
          $ref: '#/definitions/holder'
      - in: header
        name: Predix-Zone-Id
        description: Zone ID
      responses:
        200:
          description: OK
      tags:
      - Registered
      - Object
  /v1/object/deletePreregisteredObject:
    post:
      summary: Delete Pre-Registered Object
      description: Delete pre-registered object.
      operationId: deleteTempRegistration
      x-api-path-slug: v1objectdeletepreregisteredobject-post
      parameters:
      - in: header
        name: 'Authorization: Bearer'
        description: OAuth2 token
      - in: body
        name: body
        description: Request body
        schema:
          $ref: '#/definitions/holder'
      - in: header
        name: Predix-Zone-Id
        description: Zone ID
      responses:
        200:
          description: OK
      tags:
      - Pre-Registered
      - Object
  /v1/object/setObjectDoNotRegisterFlag:
    post:
      summary: Switch Apply Flag
      description: '* DO NOT USE. This API will be deleted.<br>Switch the Apply flag
        on or off.'
      operationId: config
      x-api-path-slug: v1objectsetobjectdonotregisterflag-post
      parameters:
      - in: header
        name: 'Authorization: Bearer'
        description: OAuth2 token
      - in: body
        name: body
        description: Request body
        schema:
          $ref: '#/definitions/holder'
      - in: header
        name: Predix-Zone-Id
        description: Zone ID
      responses:
        200:
          description: OK
      tags:
      - Switch
      - Apply
      - Flag
  /v1/object/setGroupDoNotRegisterFlag:
    post:
      summary: Switch Apply Flag per Group
      description: '* DO NOT USE. This API will be deleted.<br>Switch the Apply flag
        per group'
      operationId: groupConfig
      x-api-path-slug: v1objectsetgroupdonotregisterflag-post
      parameters:
      - in: header
        name: 'Authorization: Bearer'
        description: OAuth2 token
      - in: body
        name: body
        description: Request body
        schema:
          $ref: '#/definitions/holder'
      - in: header
        name: Predix-Zone-Id
        description: Zone ID
      responses:
        200:
          description: OK
      tags:
      - Switch
      - Apply
      - Flag
      - Per
      - Group
  /v1/group/putInGroup:
    post:
      summary: Put Object in Group
      description: Put Object in Group.
      operationId: joinGroup
      x-api-path-slug: v1groupputingroup-post
      parameters:
      - in: header
        name: 'Authorization: Bearer'
        description: OAuth2 token
      - in: body
        name: body
        description: Request body
        schema:
          $ref: '#/definitions/holder'
      - in: header
        name: Predix-Zone-Id
        description: Zone ID
      responses:
        200:
          description: OK
      tags:
      - Object
      - In
      - Group
  /v1/group/removeFromGroup:
    post:
      summary: Remove Object from Group
      description: Remove Object from Group.
      operationId: leaveGroup
      x-api-path-slug: v1groupremovefromgroup-post
      parameters:
      - in: header
        name: 'Authorization: Bearer'
        description: OAuth2 token
      - in: body
        name: body
        description: Request body
        schema:
          $ref: '#/definitions/holder'
      - in: header
        name: Predix-Zone-Id
        description: Zone ID
      responses:
        200:
          description: OK
      tags:
      - Remove
      - Object
      - From
      - Group
  /v1/object/registerObject:
    post:
      summary: Register Object
      description: Register Object. A registered object can be queried from Query
        APIs.
      operationId: apply
      x-api-path-slug: v1objectregisterobject-post
      parameters:
      - in: header
        name: 'Authorization: Bearer'
        description: OAuth2 token
      - in: body
        name: body
        description: Request body
        schema:
          $ref: '#/definitions/holder'
      - in: header
        name: Predix-Zone-Id
        description: Zone ID
      responses:
        200:
          description: OK
      tags:
      - Register
      - Object
  /v1/object/registerGroup:
    post:
      summary: Register Object per Group
      description: Register Object per Group. A registered object can be queried from
        Query APIs.
      operationId: groupApply
      x-api-path-slug: v1objectregistergroup-post
      parameters:
      - in: header
        name: 'Authorization: Bearer'
        description: OAuth2 token
      - in: body
        name: body
        description: Request body
        schema:
          $ref: '#/definitions/holder'
      - in: header
        name: Predix-Zone-Id
        description: Zone ID
      responses:
        200:
          description: OK
      tags:
      - Register
      - Object
      - Per
      - Group
  /v1/object/listObjects:
    post:
      summary: List Registered Objects
      description: List registered Objects.
      operationId: reference
      x-api-path-slug: v1objectlistobjects-post
      parameters:
      - in: header
        name: 'Authorization: Bearer'
        description: OAuth2 token
      - in: body
        name: body
        description: Request body
        schema:
          $ref: '#/definitions/holder'
      - in: header
        name: Predix-Zone-Id
        description: Zone ID
      responses:
        200:
          description: OK
      tags:
      - List
      - Registered
      - Objects
  /v1/group/listGroups:
    post:
      summary: List Groups
      description: List groups
      operationId: groupReference
      x-api-path-slug: v1grouplistgroups-post
      parameters:
      - in: header
        name: 'Authorization: Bearer'
        description: OAuth2 token
      - in: body
        name: body
        description: Request body
        schema:
          $ref: '#/definitions/holder'
      - in: header
        name: Predix-Zone-Id
        description: Zone ID
      responses:
        200:
          description: OK
      tags:
      - List
      - Groups
  /v1/object/checkPreregisteredObject:
    post:
      summary: Check Pre-Registered Object
      description: Check a score of Pre-Registered Object.
      operationId: check
      x-api-path-slug: v1objectcheckpreregisteredobject-post
      parameters:
      - in: header
        name: 'Authorization: Bearer'
        description: OAuth2 token
      - in: formData
        name: individualId
        description: Individual ID
      - in: header
        name: Predix-Zone-Id
        description: Zone ID
      - in: formData
        name: registImage
        description: 'Image data(Max file size: 5MByte)'
      responses:
        200:
          description: OK
      tags:
      - Check
      - Pre-Registered
      - Object
  /v1/query/queryByObject:
    post:
      summary: Query by Object
      description: Query image by object.
      operationId: dozicheck
      x-api-path-slug: v1queryquerybyobject-post
      parameters:
      - in: header
        name: 'Authorization: Bearer'
        description: OAuth2 token
      - in: formData
        name: checkResultDisplayNumber
        description: 'Result display number: Specify number of verification result
          to retrieve'
      - in: formData
        name: idSpecificationFlag
        description: 'ID specification flag (0: Query with all registered objects
          , 1: Query with specified object by individual ID)'
      - in: formData
        name: individualId
        description: 'Individual ID: Use CSV form when specifying multiple IDs'
      - in: header
        name: Predix-Zone-Id
        description: Zone ID
      - in: formData
        name: queryImage
        description: 'Query image data(Max file size: 5MByte)'
      responses:
        200:
          description: OK
      tags:
      - Query
      - By
      - Object
  /v1/query/queryByGroup:
    post:
      summary: Query by Group
      description: Query image per group.
      operationId: groupzicheck
      x-api-path-slug: v1queryquerybygroup-post
      parameters:
      - in: header
        name: 'Authorization: Bearer'
        description: OAuth2 token
      - in: formData
        name: checkResultDisplayNumber
        description: 'Result display number: Specify number of verification result
          to retrieve'
      - in: formData
        name: groupId
        description: 'Group ID: Use CSV form when specifying multiple IDs'
      - in: formData
        name: idSpecificationFlag
        description: 'ID specification flag(0: Query with all registered objects ,
          1: Query with specified object by groupId)'
      - in: header
        name: Predix-Zone-Id
        description: Zone ID
      - in: formData
        name: queryImage
        description: 'Query image data(Max file size: 5MByte)'
      responses:
        200:
          description: OK
      tags:
      - Query
      - By
      - Group