swagger: "2.0"
x-collection-name: Predix
x-complete: 1
info:
  title: Tenant Management
  description: tenancy-management-service-tms
  version: 1.0.0
host: predix-tms.run.aws-usw02-pr.ice.predix.io
basePath: /
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /v1/client-credentials:
    get:
      summary: Get tenant credentials
      description: Get tenant credentials .
      operationId: getTenantCredentialsUsingGET
      x-api-path-slug: v1clientcredentials-get
      parameters:
      - in: header
        name: TMS-Zone-Subdomain
      responses:
        200:
          description: Successful response
      tags:
      - Tenant
      - Credentials
    post:
      summary: Create tenant credentials
      description: Create tenant credentials .
      operationId: createTenantCredentialsUsingPOST
      x-api-path-slug: v1clientcredentials-post
      parameters:
      - in: body
        name: tenantCredentialsRequests
        description: tenantCredentialsRequests
        schema:
          $ref: '#/definitions/holder'
      - in: header
        name: TMS-Zone-Subdomain
      responses:
        200:
          description: Successful response
      tags:
      - Tenant
      - Credentials
    put:
      summary: Create tenant credentials
      description: Create tenant credentials .
      operationId: updateTenantCredentialsUsingPUT
      x-api-path-slug: v1clientcredentials-put
      parameters:
      - in: body
        name: tenantCredentialsRequest
        description: tenantCredentialsRequest
        schema:
          $ref: '#/definitions/holder'
      - in: header
        name: TMS-Zone-Subdomain
      responses:
        200:
          description: Successful response
      tags:
      - Tenant
      - Credentials
  /v1/client-credentials/client-ids/{clientId}:
    delete:
      summary: Delete tenant credentials
      description: Delete tenant credentials .
      operationId: deleteTenantCredentialsUsingDELETE_1
      x-api-path-slug: v1clientcredentialsclientidsclientid-delete
      parameters:
      - in: path
        name: clientId
        description: clientId
      - in: header
        name: TMS-Zone-Subdomain
      responses:
        200:
          description: Successful response
      tags:
      - Tenant
      - Credentials
  /v1/client-credentials/client-ids/{clientId}/authorized-clients/{authorizedClientId}:
    delete:
      summary: Delete tenant credentials
      description: Delete tenant credentials .
      operationId: deleteTenantCredentialsUsingDELETE
      x-api-path-slug: v1clientcredentialsclientidsclientidauthorizedclientsauthorizedclientid-delete
      parameters:
      - in: path
        name: authorizedClientId
        description: authorizedClientId
      - in: path
        name: clientId
        description: clientId
      - in: header
        name: TMS-Zone-Subdomain
      responses:
        200:
          description: Successful response
      tags:
      - Tenant
      - Credentials
  /v1/tenant:
    get:
      summary: Retrieve all the tenants in the given zone
      description: Retrieve all the tenants in the given zone.
      operationId: getTenantsUsingGET
      x-api-path-slug: v1tenant-get
      parameters:
      - in: header
        name: Predix-Zone-Id
      responses:
        200:
          description: Successful response
      tags:
      - Retrieve
      - ""
      - Tenants
      - In
      - Given
      - Zone
    post:
      summary: create a tenant
      description: Create a tenant.
      operationId: createTenantUsingPOST
      x-api-path-slug: v1tenant-post
      parameters:
      - in: header
        name: Predix-Zone-Id
      - in: body
        name: tenantProvisioningRequest
        description: tenantProvisioningRequest
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: Successful response
      tags:
      - Create
      - Tenant
    put:
      summary: update a tenant
      description: Update a tenant.
      operationId: updateTenantUsingPUT
      x-api-path-slug: v1tenant-put
      parameters:
      - in: header
        name: Predix-Zone-Id
      - in: body
        name: tenantProvisioningRequest
        description: tenantProvisioningRequest
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: Successful response
      tags:
      - Update
      - Tenant
  /v1/tenant/profile:
    get:
      summary: Lookup Tenant by Subdomain
      description: Lookup tenant by subdomain.
      operationId: getTenantBySubdomainUsingGET
      x-api-path-slug: v1tenantprofile-get
      parameters:
      - in: header
        name: TMS-Zone-Subdomain
      responses:
        200:
          description: Successful response
      tags:
      - Lookup
      - Tenant
      - By
      - Subdomain
  /v1/tenant/profile/service/{serviceName}:
    get:
      summary: Lookup Tenant service by Subdomain
      description: Lookup tenant service by subdomain.
      operationId: getTenantServiceBySubdomainUsingGET
      x-api-path-slug: v1tenantprofileserviceservicename-get
      parameters:
      - in: path
        name: serviceName
        description: serviceName
      - in: header
        name: TMS-Zone-Subdomain
      responses:
        200:
          description: Successful response
      tags:
      - Lookup
      - Tenant
      - Service
      - By
      - Subdomain
  /v1/tenant/{tenantName}:
    get:
      summary: Retrieve a tenant and its list of services
      description: Retrieve a tenant and its list of services.
      operationId: getTenantUsingGET
      x-api-path-slug: v1tenanttenantname-get
      parameters:
      - in: header
        name: Predix-Zone-Id
      - in: path
        name: tenantName
        description: tenantName
      responses:
        200:
          description: Successful response
      tags:
      - Retrieve
      - Tenant
      - Its
      - List
      - Of
      - Services
  /v1/tenant/{tenantName}/service/{instanceName}:
    put:
      summary: update a PROVISIONED service instance
      description: Update a provisioned service instance.
      operationId: updateServiceUsingPUT
      x-api-path-slug: v1tenanttenantnameserviceinstancename-put
      parameters:
      - in: path
        name: instanceName
        description: instanceName
      - in: header
        name: Predix-Zone-Id
      - in: body
        name: serviceRequest
        description: serviceRequest
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: tenantName
        description: tenantName
      responses:
        200:
          description: Successful response
      tags:
      - Update
      - PROVISIONED
      - Service
      - Instance
  /v1/tenant/{tenantName}/service/{serviceName}:
    get:
      summary: Retrieve service details
      description: Retrieve service details.
      operationId: getServiceDetailsUsingGET
      x-api-path-slug: v1tenanttenantnameserviceservicename-get
      parameters:
      - in: header
        name: Predix-Zone-Id
      - in: path
        name: serviceName
        description: serviceName
      - in: path
        name: tenantName
        description: tenantName
      responses:
        200:
          description: Successful response
      tags:
      - Retrieve
      - Service
      - Details
    delete:
      summary: Delete service instance
      description: Delete service instance.
      operationId: deleteServiceInstanceUsingDELETE
      x-api-path-slug: v1tenanttenantnameserviceservicename-delete
      parameters:
      - in: query
        name: instanceName
        description: instanceName
      - in: header
        name: Predix-Zone-Id
      - in: path
        name: serviceName
        description: serviceName
      - in: path
        name: tenantName
        description: tenantName
      responses:
        200:
          description: Successful response
      tags:
      - Service
      - Instance
  /v1/tenant/{tenantName}/service/{serviceName}/credentials:
    get:
      summary: Retrieve service credentials
      description: Retrieve service credentials.
      operationId: getServiceCredentialsUsingGET
      x-api-path-slug: v1tenanttenantnameserviceservicenamecredentials-get
      parameters:
      - in: header
        name: Predix-Zone-Id
      - in: path
        name: serviceName
        description: serviceName
      - in: path
        name: tenantName
        description: tenantName
      responses:
        200:
          description: Successful response
      tags:
      - Retrieve
      - Service
      - Credentials
  /v1/tenant/{tenantName}/status:
    get:
      summary: Retrieve a tenant's status
      description: Retrieve a tenant's status.
      operationId: getTenantStatusUsingGET
      x-api-path-slug: v1tenanttenantnamestatus-get
      parameters:
      - in: header
        name: Predix-Zone-Id
      - in: path
        name: tenantName
        description: tenantName
      responses:
        200:
          description: Successful response
      tags:
      - Retrieve
      - Tenants
      - Status
  /v1/tenant/{tenantname}:
    delete:
      summary: Delete a tenant
      description: Delete a tenant.
      operationId: deleteTenantUsingDELETE
      x-api-path-slug: v1tenanttenantname-delete
      parameters:
      - in: header
        name: Predix-Zone-Id
      - in: path
        name: tenantname
        description: tenantName
      responses:
        200:
          description: Successful response
      tags:
      - Tenant
  /v2/tenants/{tenantSubdomain}:
    get:
      summary: Lookup Tenant by Subdomain
      description: Lookup tenant by subdomain.
      operationId: getTenantProfileBySubdomainUsingGET
      x-api-path-slug: v2tenantstenantsubdomain-get
      parameters:
      - in: path
        name: tenantSubdomain
        description: tenantSubdomain
      responses:
        200:
          description: Successful response
      tags:
      - Lookup
      - Tenant
      - By
      - Subdomain
    put:
      summary: Create or Update Tenant by Subdomain
      description: Create or update tenant by subdomain.
      operationId: upsertTenantBySubdomainUsingPUT
      x-api-path-slug: v2tenantstenantsubdomain-put
      parameters:
      - in: body
        name: tenantProfile
        description: tenantProfile
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: tenantSubdomain
        description: tenantSubdomain
      responses:
        200:
          description: Successful response
      tags:
      - Tenant
      - By
      - Subdomain
    delete:
      summary: Delete Tenant by Subdomain
      description: Delete tenant by subdomain.
      operationId: deleteTenantBySubdomainUsingDELETE
      x-api-path-slug: v2tenantstenantsubdomain-delete
      parameters:
      - in: path
        name: tenantSubdomain
        description: tenantSubdomain
      responses:
        200:
          description: Successful response
      tags:
      - Tenant
      - By
      - Subdomain
  /v2/tenants/{tenantSubdomain}/service-instances/{serviceInstanceName}:
    get:
      summary: Lookup Tenant Service by Subdomain
      description: Lookup tenant service by subdomain.
      operationId: getTenantServiceBySubdomainUsingGET_1
      x-api-path-slug: v2tenantstenantsubdomainserviceinstancesserviceinstancename-get
      parameters:
      - in: path
        name: serviceInstanceName
        description: serviceInstanceName
      - in: path
        name: tenantSubdomain
        description: tenantSubdomain
      responses:
        200:
          description: Successful response
      tags:
      - Lookup
      - Tenant
      - Service
      - By
      - Subdomain
    put:
      summary: Update Tenant Service by Subdomain
      description: Update tenant service by subdomain.
      operationId: upsertTenantServiceUsingPUT
      x-api-path-slug: v2tenantstenantsubdomainserviceinstancesserviceinstancename-put
      parameters:
      - in: path
        name: serviceInstanceName
        description: serviceInstanceName
      - in: body
        name: serviceRequest
        description: serviceRequest
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: tenantSubdomain
        description: tenantSubdomain
      responses:
        200:
          description: Successful response
      tags:
      - Tenant
      - Service
      - By
      - Subdomain
    delete:
      summary: Delete Tenant Service by Subdomain
      description: Delete tenant service by subdomain.
      operationId: deleteTenantServiceInstanceUsingDELETE
      x-api-path-slug: v2tenantstenantsubdomainserviceinstancesserviceinstancename-delete
      parameters:
      - in: path
        name: serviceInstanceName
        description: serviceInstanceName
      - in: path
        name: tenantSubdomain
        description: tenantSubdomain
      responses:
        200:
          description: Successful response
      tags:
      - Tenant
      - Service
      - By
      - Subdomain
  /v2/tenants/{tenantSubdomain}/status:
    get:
      summary: Lookup Tenant status by Subdomain
      description: Lookup tenant status by subdomain.
      operationId: getTenantProfileStatusBySubdomainUsingGET
      x-api-path-slug: v2tenantstenantsubdomainstatus-get
      parameters:
      - in: path
        name: tenantSubdomain
        description: tenantSubdomain
      responses:
        200:
          description: Successful response
      tags:
      - Lookup
      - Tenant
      - Status
      - By
      - Subdomain