swagger: "2.0"
x-collection-name: HERE
x-complete: 1
info:
  title: Platform Data Extension API
  description: the-here-platform-data-extension-is-an-api-that-provides-here-content-which-is-not-accessible-through-other-here-platform-apis--pde-groups-here-core-map-data-into-thematic-layers--each-layer-contains-geographical-tiles--each-tile-contains-a-list-of-data-records--each-data-record-contains-attributes--content-is-delivered-per-tile-as-json-or-plain-text-file-each-thematic-data-layer-serves-a-specific-use-case-e-g--driver-warnings-junction-view-guidance-fuel-efficient-driving-behavior-safety-related-driving-behavior-or-polygons-of-a-certain-admin-level--each-layer-contains-only-the-data-required-for-its-use-case-this-example-set-works-with-version-1-4-0-or-higheradditional-information-can-be-found-on-developer-here-comhttpsdeveloper-here-complatformextensionsdocumentationplatformdata
  version: 1.0.0
host: pde.cit.api.here.com
basePath: /1
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /static.json:
    get:
      summary: Platform Static Data
      description: |-
        *Request enumerated content from a static data table*

        To request static data use the static.json endpoint and provide the name of the data table using the `content` parameter



        * **region**  `text`
         \- Map Coverage Region.    e.g. `APAC`, `NA`, `EU`

        * **release**  `text`
         \- Map release quarter    e.g. `2014Q4` or `LATEST`

        * **content**  `text`
         \- The name of the static content table requested

        * **app_id**  `text`
         \- A 20 byte Base64 URL-safe encoded string used for the authentication of the client application.    You must include an `app_id` with every request.

        * **app_code**  `text`
         \- A 20 byte Base64 URL-safe encoded string used for the authentication of the client application.    You must include an `app_code` with every request.
      operationId: StaticJsonGet
      x-api-path-slug: static-json-get
      parameters:
      - in: query
        name: app_code
      - in: query
        name: app_id
      - in: query
        name: content
      - in: query
        name: region
      - in: query
        name: release
      responses:
        200:
          description: OK
      tags:
      - Platform
      - Static
      - Data
  /doc/layers.json:
    get:
      summary: Available Map Data Layers
      description: |-
        *Request which data layers can be accessed within a specified map region and release*

        To make a request for data layer availability information, use the `layers.json` endpoint, supplying the `release` and `region` parameters.



        * **region**  `text`
         \- Map Coverage Region.    e.g. `APAC`, `NA`, `EU`

        * **release**  `text`
         \- Map release quarter    e.g. `2014Q4` or `LATEST`

        * **app_id**  `text`
         \- A 20 byte Base64 URL-safe encoded string used for the authentication of the client application.    You must include an `app_id` with every request.

        * **app_code**  `text`
         \- A 20 byte Base64 URL-safe encoded string used for the authentication of the client application.    You must include an `app_code` with every request.
      operationId: DocLayersJsonGet
      x-api-path-slug: doclayers-json-get
      parameters:
      - in: query
        name: app_code
      - in: query
        name: app_id
      - in: query
        name: region
      - in: query
        name: release
      responses:
        200:
          description: OK
      tags:
      - Available
      - Map
      - Data
      - Layers
  /tile.json:
    get:
      summary: Platform Data
      description: |-
        *Request data from a specific data layer about a specified location*

        To request data  from a specified data layer, use the t`ile.json` endpoint, and include the `region`, `release` and `layer` parameters. The area covered is specified by the `level`, `tilex` and `tiley` parameters



        * **region**  `text`
         \- Map Coverage Region.    e.g. `APAC`, `NA`, `EU`

        * **release**  `text`
         \- Map release quarter    e.g. `2014Q4` or `LATEST`

        * **layer**  `text`
         \- Thematic layer

        * **level**  `text`
         \- Specifies the size of the requested tile

        * **tilex**  `text`
         \- Specifies the tile number in West-East direction. This depends on the level.

        * **tiley**  `text`
         \- Specifies the tile number in South-North direction. This depends on the level.

        * **app_id**  `text`
         \- A 20 byte Base64 URL-safe encoded string used for the authentication of the client application.    You must include an `app_id` with every request.

        * **app_code**  `text`
         \- A 20 byte Base64 URL-safe encoded string used for the authentication of the client application.    You must include an `app_code` with every request.
      operationId: TileJsonGet
      x-api-path-slug: tile-json-get
      parameters:
      - in: query
        name: app_code
      - in: query
        name: app_id
      - in: query
        name: layer
      - in: query
        name: level
      - in: query
        name: region
      - in: query
        name: release
      - in: query
        name: tilex
      - in: query
        name: tiley
      responses:
        200:
          description: OK
      tags:
      - Platform
      - Data
  /doc/attributes.json:
    get:
      summary: Available Attributes
      description: "*Request which map data layers contain which attributes*\n\nTo
        make a request for map data layer information, use the `attributes``.json`
        endpoint, supplying the `release` and `region` parameters.\n  \n\n\n\n* **region**
        \ `text`\n \\- Map Coverage Region.    e.g. `APAC`, `NA`, `EU`\n\n* **release**
        \ `text`\n \\- Map release quarter    e.g. `2014Q4` or `LATEST`\n\n* **app_id**
        \ `text`\n \\- A 20 byte Base64 URL-safe encoded string used for the authentication
        of the client application.    You must include an `app_id` with every request.\n\n*
        **app_code**  `text`\n \\- A 20 byte Base64 URL-safe encoded string used for
        the authentication of the client application.    You must include an `app_code`
        with every request."
      operationId: DocAttributesJsonGet
      x-api-path-slug: docattributes-json-get
      parameters:
      - in: query
        name: app_code
      - in: query
        name: app_id
      - in: query
        name: region
      - in: query
        name: release
      responses:
        200:
          description: OK
      tags:
      - Available
      - Attributes
  /doc/maps.json:
    get:
      summary: Map Data Availability and Freshness
      description: |-
        *Request the release date and area covered by each available map region*

        To make a request for release date information, use the `maps.json` endpoint.



        * **app_id**  `text`
         \- A 20 byte Base64 URL-safe encoded string used for the authentication of the client application.    You must include an `app_id` with every request.

        * **app_code**  `text`
         \- A 20 byte Base64 URL-safe encoded string used for the authentication of the client application.    You must include an `app_code` with every request.
      operationId: DocMapsJsonGet
      x-api-path-slug: docmaps-json-get
      parameters:
      - in: query
        name: app_code
      - in: query
        name: app_id
      responses:
        200:
          description: OK
      tags:
      - Map
      - Data
      - Availability
      - Freshness
  /doc/layer.json:
    get:
      summary: Available Attributes within a Map Data Layer
      description: |-
        *Request which attributes are available within a specified map data layer*

        To make a request for map data layer information, use the `layer``.json` endpoint, supplying the `release`, `layer` and `region` parameters.



        * **region**  `text`
         \- Map Coverage Region.    e.g. `APAC`, `NA`, `EU`

        * **release**  `text`
         \- Map release quarter    e.g. `2014Q4` or `LATEST`

        * **layer**  `text`
         \- Thematic layer

        * **app_id**  `text`
         \- A 20 byte Base64 URL-safe encoded string used for the authentication of the client application.    You must include an `app_id` with every request.

        * **app_code**  `text`
         \- A 20 byte Base64 URL-safe encoded string used for the authentication of the client application.    You must include an `app_code` with every request.
      operationId: DocLayerJsonGet
      x-api-path-slug: doclayer-json-get
      parameters:
      - in: query
        name: app_code
      - in: query
        name: app_id
      - in: query
        name: layer
      - in: query
        name: region
      - in: query
        name: release
      responses:
        200:
          description: OK
      tags:
      - Available
      - Attributes
      - Within
      - Map
      - Data
      - Layer