swagger: "2.0"
x-collection-name: GoToMeeting
x-complete: 1
info:
  title: Go To Assist Seeit
  description: pallows-you-to-integrate-gotoassist-seeit-into-your-own-solutions-ppgeneral-notesulligotoassist-seeit-sessions-are-identified-by-their-uuid--the-more-readable-9-digit-support-key-e-g--123456789-may-be-reused-later-for-another-session-and-thus-cannot-be-used-to-unambiguously-identify-a-session-liliif-not-explicitly-stated-otherwise-all-timestamps-represent-the-number-of-milliseconds-since-19700101-in-utc-similar-to-a-unix-timestamp-but-with-millisecond-resolutionliulp
  version: 0.9.0
host: api.citrixonline.com
basePath: /seeit/v1
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /sessions:
    get:
      summary: Get details for multiple GoToAssist Seeit sessions
      description: <p>This endpoint allows you to get all relevant details for mulitple
        GoToAssist Seeit sessions. Session details are available for 90 days.</p></p>The
        fields and their values in the response depend on session status and the time
        elapsed since session end; e.g. session data like snapshots or the session
        recording are only available for 72 hours.</p><p>The results will be paged,
        with paging customizable to match your requirements.</p>
      operationId: sessions.get
      x-api-path-slug: sessions-get
      parameters:
      - in: query
        name: endTime
        description: Optional end of date range as timestamp (will be compared against
          session creation time)
      - in: query
        name: page
        description: Optional page number
      - in: query
        name: size
        description: Optional page size
      - in: query
        name: sort
        description: Optional sort criteria, i
      - in: query
        name: startTime
        description: Optional start of date range as timestamp (will be compared against
          session creation time)
      responses:
        200:
          description: OK
      tags:
      - Sessions
    post:
      summary: Create a GoToAssist Seeit session
      description: This endpoint allows you to create a GoToAssist Seeit session.
        The session logically exists but is not started until you open the returned
        startUrl in a suitable browser.
      operationId: sessions.post
      x-api-path-slug: sessions-post
      responses:
        200:
          description: OK
      tags:
      - Sessions
  /sessions/{uuid}:
    get:
      summary: Get details for a single GoToAssist Seeit session
      description: <p>This endpoint allows you to get all relevant details for a single
        GoToAssist Seeit session. Session details are available for 90 days.</p><p>The
        fields and their values in the response depend on session status and the time
        elapsed since session end; e.g. session data like snapshots or the session
        recording are only available for 72 hours.</p>
      operationId: sessions.uuid.get
      x-api-path-slug: sessionsuuid-get
      parameters:
      - in: path
        name: uuid
        description: the uuid returned when creating the session
      responses:
        200:
          description: OK
      tags:
      - Sessions
      - Uuid