swagger: "2.0"
x-collection-name: Groupon
x-complete: 1
info:
  title: Groupon API2
  description: put-all-those-great-ideas-for-groupon-improvements-extensions-and-multipleplatform-interfaces-to-work-
  version: v2
host: api.groupon.com
basePath: /
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /status.{format}:
    parameters:
      summary: Parameters Status. Format
      description: Parameters status. format.
      operationId: parametersStatus.Format
      x-api-path-slug: status-format-parameters
      responses:
        200:
          description: OK
      tags:
      - Status
      - Format
    get:
      summary: Get Status. Format
      description: Returns the status of Groupon's API and all the currently available
        versions of the API.
      operationId: getStatus.Format
      x-api-path-slug: status-format-get
      responses:
        200:
          description: OK
      tags:
      - Status
      - Format
  /divisions.{format}:
    parameters:
      summary: Parameters Divisions. Format
      description: Parameters divisions. format.
      operationId: parametersDivisions.Format
      x-api-path-slug: divisions-format-parameters
      responses:
        200:
          description: OK
      tags:
      - Divisions
      - Format
    get:
      summary: Get Divisions. Format
      description: Returns the list of all launched divisions.
      operationId: getDivisions.Format
      x-api-path-slug: divisions-format-get
      responses:
        200:
          description: OK
      tags:
      - Divisions
      - Format
  /groupon_says.{format}:
    parameters:
      summary: Parameters Groupon Says. Format
      description: Parameters groupon says. format.
      operationId: parametersGrouponSays.Format
      x-api-path-slug: groupon-says-format-parameters
      responses:
        200:
          description: OK
      tags:
      - Groupon
      - Says
      - Format
    get:
      summary: Get Groupon Says. Format
      description: Returns the list of recent (or random) Groupon Says commentaries.
      operationId: getGrouponSays.Format
      x-api-path-slug: groupon-says-format-get
      responses:
        200:
          description: OK
      tags:
      - Groupon
      - Says
      - Format
  /deals/{id}.{format}:
    parameters:
      summary: Parameters Deals . Format
      description: Parameters deals . format.
      operationId: parametersDeals.Format
      x-api-path-slug: dealsid-format-parameters
      responses:
        200:
          description: OK
      tags:
      - Deals
      - Format
    get:
      summary: Get Deals . Format
      description: Returns the detailed information about a specified deal.
      operationId: getDeals.Format
      x-api-path-slug: dealsid-format-get
      responses:
        200:
          description: OK
      tags:
      - Deals
      - Format
  /deals.{format}:
    parameters:
      summary: Parameters Deals. Format
      description: Parameters deals. format.
      operationId: parametersDeals.Format
      x-api-path-slug: deals-format-parameters
      responses:
        200:
          description: OK
      tags:
      - Deals
      - Format
    get:
      summary: Get Deals. Format
      description: Returns an ordered list of deals that are currently launched for
        a specific division.
      operationId: getDeals.Format
      x-api-path-slug: deals-format-get
      responses:
        200:
          description: OK
      tags:
      - Deals
      - Format
  /deals/{deal_id}/posts.{format}:
    parameters:
      summary: Parameters Deals Deal Adds. Format
      description: Parameters deals deal adds. format.
      operationId: parametersDealsDealAdds.Format
      x-api-path-slug: dealsdeal-idposts-format-parameters
      responses:
        200:
          description: OK
      tags:
      - Deals
      - Deal
      - Posts
      - Format
    get:
      summary: Get Deals Deal Adds. Format
      description: Returns the lists of all the discussion posts for the specified
        deal.
      operationId: getDealsDealAdds.Format
      x-api-path-slug: dealsdeal-idposts-format-get
      responses:
        200:
          description: OK
      tags:
      - Deals
      - Deal
      - Posts
      - Format