swagger: "2.0"
x-collection-name: Azure Monitor
x-complete: 1
info:
  title: Azure Activity Log Alerts API
  version: 2017-03-01-preview
host: management.azure.com
basePath: /
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/activityLogAlerts/{activityLogAlertName}
  : put:
      summary: Activity Log Alerts Create Or Update
      description: Create a new activity log alert or update an existing one.
      operationId: ActivityLogAlerts_CreateOrUpdate
      x-api-path-slug: subscriptionssubscriptionidresourcegroupsresourcegroupnameprovidersmicrosoft-insightsactivitylogalertsactivitylogalertname-put
      parameters:
      - in: body
        name: activityLogAlert
        description: The activity log alert to create or use for the update
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Activity Log Alerts
    get:
      summary: Activity Log Alerts Get
      description: Get an activity log alert.
      operationId: ActivityLogAlerts_Get
      x-api-path-slug: subscriptionssubscriptionidresourcegroupsresourcegroupnameprovidersmicrosoft-insightsactivitylogalertsactivitylogalertname-get
      responses:
        200:
          description: OK
      tags:
      - Activity Log Alerts
    delete:
      summary: Activity Log Alerts Delete
      description: Delete an activity log alert.
      operationId: ActivityLogAlerts_Delete
      x-api-path-slug: subscriptionssubscriptionidresourcegroupsresourcegroupnameprovidersmicrosoft-insightsactivitylogalertsactivitylogalertname-delete
      responses:
        200:
          description: OK
      tags:
      - Activity Log Alerts
    patch:
      summary: Activity Log Alerts Update
      description: Updates an existing ActivityLogAlertResource's tags. To update
        other fields use the CreateOrUpdate method.
      operationId: ActivityLogAlerts_Update
      x-api-path-slug: subscriptionssubscriptionidresourcegroupsresourcegroupnameprovidersmicrosoft-insightsactivitylogalertsactivitylogalertname-patch
      parameters:
      - in: body
        name: activityLogAlertPatch
        description: Parameters supplied to the operation
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Activity Log Alerts
  /subscriptions/{subscriptionId}/providers/microsoft.insights/activityLogAlerts:
    get:
      summary: Activity Log Alerts List By Subscription Id
      description: Get a list of all activity log alerts in a subscription.
      operationId: ActivityLogAlerts_ListBySubscriptionId
      x-api-path-slug: subscriptionssubscriptionidprovidersmicrosoft-insightsactivitylogalerts-get
      responses:
        200:
          description: OK
      tags:
      - Activity Log Alerts Subscription Id
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/activityLogAlerts:
    get:
      summary: Activity Log Alerts List By Resource Group
      description: Get a list of all activity log alerts in a resource group.
      operationId: ActivityLogAlerts_ListByResourceGroup
      x-api-path-slug: subscriptionssubscriptionidresourcegroupsresourcegroupnameprovidersmicrosoft-insightsactivitylogalerts-get
      responses:
        200:
          description: OK
      tags:
      - Activity Log Alerts Resource Group