swagger: "2.0"
x-collection-name: eBay
x-complete: 1
info:
  title: EBay Finding API
  description: search-ebay-build-search-and-browse-experiences-
  version: 1.0.0
host: svcs.ebay.com
basePath: /services/search/FindingService/v1
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  ?OPERATION-NAME=findItemsByKeywords:
    get:
      summary: Find Item By Keywords
      description: This call searches for items on eBay by a keyword query (keywords).
      operationId: findItemsByKeywords
      x-api-path-slug: operationnamefinditemsbykeywords-get
      parameters:
      - in: query
        name: keywords
        description: The key word or phrase to search by
        type: string
        format: string
      - in: query
        name: RESPONSE-DATA-FORMAT
        description: Response in either XML or JSON
        type: string
        format: string
      - in: query
        name: SERVICE-VERSION
        description: The service version
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Search
      - Products
      - Auction
      - Commerce
  ?OPERATION-NAME=findItemsByCategory:
    get:
      summary: Find Item By Category
      description: Returns items in a specific category. Results can be filtered and
        sorted.
      operationId: findItemsByCategory
      x-api-path-slug: operationnamefinditemsbycategory-get
      parameters:
      - in: query
        name: categoryId
        description: The ebay category id
        type: string
        format: string
      - in: query
        name: RESPONSE-DATA-FORMAT
        description: Response in either XML or JSON
        type: string
        format: string
      - in: query
        name: SERVICE-VERSION
        description: The service version
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Search
      - Products
      - Auction
      - Commerce
      - Categories
  ?OPERATION-NAME=findItemsAdvanced:
    get:
      summary: Find Item By Advanced
      description: Finds items by a keyword query and/or category and allows searching
        within item descriptions.
      operationId: findItemsAdvanced
      x-api-path-slug: operationnamefinditemsadvanced-get
      parameters:
      - in: query
        name: keywords
        description: The keywords or phrase to search
        type: string
        format: string
      - in: query
        name: RESPONSE-DATA-FORMAT
        description: Response in either XML or JSON
        type: string
        format: string
      - in: query
        name: SERVICE-VERSION
        description: The service version
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Search
      - Products
      - Auction
      - Commerce
      - Categories