swagger: "2.0"
x-collection-name: Coord
x-complete: 1
info:
  title: Parking Access API
  description: the-parking-access-api-allows-you-to-authorize-one-of-your-end-users-to-park-at-a-supportedparking-location-by-means-of-creating-a-new-parkingsession-for-your-user-at-the-location-for-a-list-of-supported-locations-seea-hrefhttpscoord-codocssearchparking-target-blankthe-parking-search-apia-you-may-only-call-the-accessparking-api-using-parkinglocation-ids-returned-from-the-searchapi-for-locations-where-online-access-type-is-set-to-something-other-than-not-available-all-other-ids-will-be-rejected--parking-creating-a-sessionto-allow-a-user-to-park-at-a-given-lot-or-garage-you-create-a-session-for-that-user-atthe-location-you-can-create-a-new-session-by-callingpost-location-idsessionreference0createandretrievesessionscreateanewsessionwhich-will-return-a-new-session-that-either-is-already-started-has-an-end-time-set-orcontains-any-information-necessary-to-display-to-your-end-user-to-start-the-session-forexample-a-barcode-that-must-be-scanned-in-at-the-location-to-authorize-access--apicontrolled-sessionssessions-that-come-back-with-a-start-time-already-set-are-apicontrolled-meaning-thatthe-location-itself-has-no-way-of-telling-when-your-user-enters-or-leaves-but-insteaddepends-on-you-to-do-this-through-the-api--for-these-sessions-you-must-eventually-callput-location-idsessionsession-idendreference0endingsessionsendapreviouslystartedsessionto-end-the-session-at-which-point-billing-info-will-be-attached-and-returned-in-the-response-typically-you-would-provide-a-way-for-your-end-user-to-tell-you-that-they-are-leaving-theparking-lot-and-then-call-this--note-that-if-you-fail-to-call-this-method-you-risk-accruingthe-maximum-charge-possible-for-the-given-location--sitecontrolled-sessionsat-locations-that-have-a-means-of-telling-when-users-enter-and-leave-like-human-attendants-ora-barcode-scanner-the-session-end-time-and-billing-information-will-be-set-only-afterthe-user-ends-their-session-at-the-location-e-g--scans-out-with-a-barcode-or-checks-out-withan-attendant--in-such-cases-you-may-want-to-pollget-location-idsessionsession-idreference0retrieveanexistingsessionretrieveanexistingsessionuntil-an-end-time-exists-in-the-response--this-is-useful-to-provide-a-summarynotification-toyour-user-after-checkout-and-for-your-own-records-note-that-parkingsession-objects-last-forever--you-can-always-callget-location-idsessionsession-idreference0retrieveanexistingsessionretrieveanexistingsessionfor-information-on-a-session-that-you-created--maximum-stayssome-apicontrolled-and-sitecontrolled-sessions-may-be-subject-to-a-maximum-duration-whichmeans-that-after-a-set-amount-of-time-the-session-will-automatically-be-assigned-an-end-timeand-be-billed-for-usage-up-to-that-time--though-you-can-generally-avoid-this-by-callinga-hrefhttpscoord-codocssearchparking-target-blankthe-parking-search-apiabeforehand-to-determine-if-your-users-expected-parking-time-will-be-valid-at-a-locationsince-that-method-only-returns-locations-that-can-accept-parking-for-a-given-start-time-andduration-pair-your-user-might-still-stay-beyond-their-original-expected-duration-and-hit-amaximum-stay-time-you-can-poll-get-location-idsessionsession-idreference0retrieveanexistingsessionretrieveanexistingsession-todetermine-if-a-session-has-automatically-closed-and-notify-your-user-that-this-has-happened-if-this-happens-your-user-has-the-following-options---for-apicontrolled-sessions-your-user-should-leave-the-location-immediately-to-avoid-some--kind-of-enforcement-action-car-booting-towing-stickering-etc--note-that-you-will-not--need-to-explicitly-call--put-location-idsessionsession-idendreference0endingsessionsendapreviouslystartedsession-since-the--session-is-already-ended----for-sitecontrolled-sessions-your-user-may-or-may-not-be-able-to-check-out-using-the--redemption-info-provided-in-the-session--if-checkout-fails-gate-arm-does-not-go-up-your--user-may-have-to-resort-to-local-onsite-help-speaking-with-an-attendant-calling-posted--telephone-numbers-or-using-onsite-intercoms-for-assistance----finding-sessions--in-addition-to-querying-for-the-status-of-a-single-session-you-can-also-get-all-of-the--sessions-for-a-given-user-by-calling---get-sessionreference0retrieveauserssessionsretrieveauserssessions--this-will--return-both-the-currently-open-session-if-it-exists-and-all-closed-sessions---to-get-all-of-a-users-sessions-at-a-given-location-you-can-call--get-location-idsessionreference0createandretrievesessionsretrievealocationssessions-
  version: 1.0.0
host: api.coord.co
basePath: /v1/access/parking
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /{location_id}/session:
    get:
      summary: Retrieve a location's sessions
      description: |-
        Retrieve information about all existing sessions at a location.

        On success, the response will be a list of existing sessions. At most one will still be
        active:
        ```
          [
            {
              "id":1,
              "start_time":"2018-04-12T00:14:20.292Z",
              "end_time":"2018-04-12T04:10:13.456Z",
              "user_id":"00000000-0000-0000-0000-000000000000"
            },
            {
              "id":2,
              "start_time":"2018-04-12T00:14:20.292Z",
              "user_id":"00000000-0000-0000-0000-000000000000"
            }
          ]
        ```
      operationId: get_location_sessions
      x-api-path-slug: location-idsession-get
      parameters:
      - in: query
        name: access_key
        description: The API access key for the request
      responses:
        200:
          description: OK
      tags:
      - Retrieve
      - Locations
      - Sessions
    post:
      summary: Create a new session
      description: |-
        Create a new session for the specified user at this location_id. Returns it with either
        the start_time set, or a follow-on token (barcode, number, etc.) that the end user must use
        to initiate the session at the location.

        On success, the response will be the newly created session:
        ```
          {
            "id":1,
            "start_time":"2018-04-12T00:14:20.292Z",
            "user_id":"00000000-0000-0000-0000-000000000000"
          }
        ```
      operationId: post_session
      x-api-path-slug: location-idsession-post
      parameters:
      - in: query
        name: access_key
        description: The API access key for the request
      responses:
        200:
          description: OK
      tags:
      - New
      - Session
  /{location_id}/session/{session_id}:
    get:
      summary: Retrieve an existing session
      description: |-
        Retrieve information about an existing session. This is useful to determine if/when an
        existing session has been started or ended (via external, barcode mechanism, for example).
        It may be polled to provide live feedback to an end user.

        On success, the response will be the existing session:
        ```
          {
            "id":1,
            "start_time":"2018-04-12T00:14:20.292Z",
            "user_id":"00000000-0000-0000-0000-000000000000"
          }
        ```
      operationId: get_session
      x-api-path-slug: location-idsessionsession-id-get
      parameters:
      - in: query
        name: access_key
        description: The API access key for the request
      responses:
        200:
          description: OK
      tags:
      - Retrieve
      - Existing
      - Session
  /{location_id}/session/{session_id}/end:
    put:
      summary: End a previously started session
      description: |-
        End a previously started session. Note that it is invalid to call this method for sessions
        where checkout is controlled physically (those returned with a `redemption_info` field).

        On success, the response will be the existing session with billing info:
        ```
          {
            "billing_info": {
              "cost": {
                "amount": 100,
                "currency": "USD"
              }
            },
            "end_time": "2018-04-12T00:17:50.161Z",
            "id":1,
            "start_time":"2018-04-12T00:14:20.292Z",
            "user_id":"00000000-0000-0000-0000-000000000000"
          }
        ```
      operationId: end_session
      x-api-path-slug: location-idsessionsession-idend-put
      parameters:
      - in: query
        name: access_key
        description: The API access key for the request
      responses:
        200:
          description: OK
      tags:
      - End
      - Previously
      - Started
      - Session
  /barcode:
    post:
      summary: Create a barcode
      description: Create a barcode for a user to be scanned upon entering/exiting
        a parking lot.
      operationId: create_barcode
      x-api-path-slug: barcode-post
      parameters:
      - in: query
        name: access_key
        description: The API access key for the request
      - in: body
        name: request
        description: A request to simulate an arrival/departure associated with the
          session
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Barcode
  /session:
    get:
      summary: Retrieve a user's sessions
      description: |-
        Retrieve information about all of a user's existing sessions.

        On success, the response will be a list of existing sessions. At most one will still be
        active:
        ```
          [
            {
              "id":1,
              "start_time":"2018-04-12T00:14:20.292Z",
              "end_time":"2018-04-12T04:10:13.456Z",
              "user_id":"00000000-0000-0000-0000-000000000000"
            },
            {
              "id":2,
              "start_time":"2018-04-12T00:14:20.292Z",
              "user_id":"00000000-0000-0000-0000-000000000000"
            }
          ]
        ```
      operationId: get_user_sessions
      x-api-path-slug: session-get
      parameters:
      - in: query
        name: access_key
        description: The API access key for the request
      responses:
        200:
          description: OK
      tags:
      - Retrieve
      - Users
      - Sessions
  /testing/{location_id}/{session_id}/simulate_redemption:
    post:
      summary: For test users only - Simulate a user redemption
      description: |-
        Some sessions don't automatically start when created. Instead, they are returned with
        `redemption_info`, which might be a barcode, for example, that needs to be scanned at the
        target location. For such sessions started by test users, you can use this method to
        simulate a redemption (arrival+departure). The system will behave as though a user checked
        in at a location where the session was creationg at the time you make the call and checked
        out at a time `duration_m` minutes in the future. **This method is only available for
        sessions started by test users.**
      operationId: fake_redemption
      x-api-path-slug: testinglocation-idsession-idsimulate-redemption-post
      parameters:
      - in: query
        name: access_key
        description: The API access key for the request
      - in: body
        name: request
        description: A request to simulate an arrival/departure associated with the
          session
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - For
      - Test
      - Users
      - Only
      - '-'
      - Simulate
      - User
      - Redemption