swagger: "2.0"
x-collection-name: Xignite
x-complete: 1
info:
  title: Xignite Logos
  description: this-web-service-provides-company-logo-images-
  version: 1.0.0
host: www.xignite.com
basePath: xLogos.json/XigniteLogos
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /GetLogo:
    get:
      summary: Get Logo
      description: Save an archive.
      operationId: postGetlogo
      x-api-path-slug: getlogo-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Logo
  /GetLogosList:
    get:
      summary: Get Logos List
      description: Get all symbols which have available logos.
      operationId: postGetlogoslist
      x-api-path-slug: getlogoslist-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Logos
      - List
  /ListMarkets:
    get:
      summary: List Markets
      description: List markets which have avalilable logos.
      operationId: postListmarkets
      x-api-path-slug: listmarkets-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - List
      - Markets
  /ListSymbols:
    get:
      summary: List Symbols
      description: List available logos on market.
      operationId: postListsymbols
      x-api-path-slug: listsymbols-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - List
      - Symbols