swagger: "2.0"
x-collection-name: Xignite
x-complete: 1
info:
  title: Xignite Fact Set Estimates
  description: this-web-service-provides-global-estimate-data-
  version: 1.0.0
host: factsetestimates.xignite.com
basePath: xFactSetEstimates.json/XigniteFactSetEstimates
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /GetEstimates:
    get:
      summary: Get Estimates
      description: Get Estimates on AsOfDate
      operationId: GetEstimates
      x-api-path-slug: getestimates-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Market Data
      - Estimates
  /GetLatestRecommendationSummaries:
    get:
      summary: Get Latest Recommendation Summaries
      description: Get Latest Recommendation Summary
      operationId: GetLatestRecommendationSummaries
      x-api-path-slug: getlatestrecommendationsummaries-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Market Data
      - Latest
      - Recommendation
      - Summaries
  /ListExchanges:
    get:
      summary: List Exchanges
      description: List Exchanges
      operationId: ListExchanges
      x-api-path-slug: listexchanges-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Market Data
      - List
      - Exchanges
  /ListCompanies:
    get:
      summary: List Companies
      description: List Symbols
      operationId: ListCompanies
      x-api-path-slug: listcompanies-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Market Data
      - List
      - Companies
  /ListEstimates:
    get:
      summary: List Estimates
      description: List Estimates
      operationId: ListEstimates
      x-api-path-slug: listestimates-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Market Data
      - List
      - Estimates
  /GetLatestEstimates:
    get:
      summary: Get Latest Estimates
      description: Get Latest Estimates
      operationId: GetLatestEstimates
      x-api-path-slug: getlatestestimates-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Market Data
      - Latest
      - Estimates
  /GetEstimatesRange:
    get:
      summary: Get Estimates Range
      description: Get Estimates Range
      operationId: GetEstimatesRange
      x-api-path-slug: getestimatesrange-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Market Data
      - Estimates
      - Range
  /GetRecommendationSummaryRange:
    get:
      summary: Get Recommendation Summary Range
      description: Get Recommendation Summaries in Range
      operationId: GetRecommendationSummaryRange
      x-api-path-slug: getrecommendationsummaryrange-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Market Data
      - Recommendation
      - Summary
      - Range
  /GetRecommendationSummaries:
    get:
      summary: Get Recommendation Summaries
      description: Get Recommendation Summaries on AsOfDate
      operationId: GetRecommendationSummaries
      x-api-path-slug: getrecommendationsummaries-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Market Data
      - Recommendation
      - Summaries