swagger: "2.0"
x-collection-name: Xignite
x-complete: 1
info:
  title: Xignite Global Real Time Options
  description: complete-stock-option-management-application-
  version: 1.0.0
host: globalrealtimeoptions.xignite.com
basePath: xglobalrealtimeoptions.json/XigniteGlobalRealTimeOptions
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /GetBlackScholesOptionValue:
    get:
      summary: Get Black Scholes Option Value
      description: Calculates the value of an option using the Black-Scholes formula.
      operationId: GetBlackScholesOptionValue
      x-api-path-slug: getblackscholesoptionvalue-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Black
      - Scholes
      - Option
      - Value
  /GetAllEquityOptionChain:
    get:
      summary: Get All Equity Option Chain
      description: Returns options chains for an equity.
      operationId: GetAllEquityOptionChain
      x-api-path-slug: getallequityoptionchain-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Equity
      - Option
      - Chain
  /GetAllExtendedEquityOptionChain:
    get:
      summary: Get All Extended Equity Option Chain
      description: Returns extended options chains for an equity.
      operationId: GetAllExtendedEquityOptionChain
      x-api-path-slug: getallextendedequityoptionchain-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Extended
      - Equity
      - Option
      - Chain
  /GetEquityOptionChain:
    get:
      summary: Get Equity Option Chain
      description: Returns options chain for an equity.
      operationId: GetEquityOptionChain
      x-api-path-slug: getequityoptionchain-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Equity
      - Option
      - Chain
  /GetExtendedEquityOptionChain:
    get:
      summary: Get Extended Equity Option Chain
      description: Returns extended options chain for an equity.
      operationId: GetExtendedEquityOptionChain
      x-api-path-slug: getextendedequityoptionchain-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Extended
      - Equity
      - Option
      - Chain
  /GetEquityOption:
    get:
      summary: Get Equity Option
      description: Returns a specific equity option.
      operationId: GetEquityOption
      x-api-path-slug: getequityoption-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Equity
      - Option
  /GetExtendedEquityOption:
    get:
      summary: Get Extended Equity Option
      description: Returns a specific equity extended option.
      operationId: GetExtendedEquityOption
      x-api-path-slug: getextendedequityoption-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Extended
      - Equity
      - Option
  /GetEquityOptionSymbol:
    get:
      summary: Get Equity Option Symbol
      description: Returns the symbol for an equity option based on month, year and
        strike price.
      operationId: GetEquityOptionSymbol
      x-api-path-slug: getequityoptionsymbol-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Equity
      - Option
      - Symbol
  /GetEquityOptionBySymbol:
    get:
      summary: Get Equity Option By Symbol
      description: Returns a specific equity option.
      operationId: GetEquityOptionBySymbol
      x-api-path-slug: getequityoptionbysymbol-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Equity
      - Option
      - Symbol
  /GetExtendedEquityOptionBySymbol:
    get:
      summary: Get Extended Equity Option By Symbol
      description: Returns a specific equity extended option.
      operationId: GetExtendedEquityOptionBySymbol
      x-api-path-slug: getextendedequityoptionbysymbol-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Extended
      - Equity
      - Option
      - Symbol
  /GetEquityOptionBySymbols:
    get:
      summary: Get Equity Option By Symbols
      description: Returns an array of specific equity options.
      operationId: GetEquityOptionBySymbols
      x-api-path-slug: getequityoptionbysymbols-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Equity
      - Option
      - Symbols
  /GetExtendedEquityOptionBySymbols:
    get:
      summary: Get Extended Equity Option By Symbols
      description: Returns an array of specific equity extended options.
      operationId: GetExtendedEquityOptionBySymbols
      x-api-path-slug: getextendedequityoptionbysymbols-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Extended
      - Equity
      - Option
      - Symbols
  ', Bars':
    get:
      summary: Get Chart Bars
      description: Get chart bars
      operationId: GetChartBars
      x-api-path-slug: bars-get
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Chart
      - Bars