swagger: "2.0"
x-collection-name: US Digital Registry
x-complete: 1
info:
  title: U.S. Digital Registry Mobile App API
  description: providing-access-to-a-directory-of-the-mobile-applications-for-federal-agencies-
  version: 1.0.0
host: usdigitalregistry.digitalgov.gov
basePath: /api/v1/
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /mobile_apps/tokeninput.json:
    get:
      summary: Mobile App Token
      description: This returns tokens representing agencies, tags, and a basic text
        search token for the purpose of building search dialogs
      operationId: Api::V1::MobileApps#tokeninput
      x-api-path-slug: mobile-appstokeninput-json-get
      parameters:
      - in: query
        name: q
        description: String to compare to the various values
      responses:
        200:
          description: OK
      tags:
      - Mobile Apps
  /mobile_apps.json:
    get:
      summary: Mobile Apps
      description: This lists all active mobile apps.  It accepts parameters to perform
        basic search as well as searching by tag and agency.
      operationId: Api::V1::MobileApps#index
      x-api-path-slug: mobile-apps-json-get
      parameters:
      - in: query
        name: agencies
        description: Comma separated list of agency ids
      - in: query
        name: language
        description: Language of the social media accounts to return
      - in: query
        name: page
        description: Page number
      - in: query
        name: page_size
        description: Number of results per page, defaults to 25
      - in: query
        name: q
        description: String to compare to the name & short description of the mobile
          apps
      - in: query
        name: tags
        description: Comma separated list of tag ids
      responses:
        200:
          description: OK
      tags:
      - Mobile Apps
  /mobile_apps/{id}.json:
    get:
      summary: Mobile App
      description: This returns an mobile app based on an ID.
      operationId: Api::V1::MobileApps#show
      x-api-path-slug: mobile-appsid-json-get
      parameters:
      - in: path
        name: id
        description: ID of the mobile app
      responses:
        200:
          description: OK
      tags:
      - Mobile Apps