swagger: "2.0"
x-collection-name: Weather Underground
x-complete: 1
info:
  title: Weather Underground
  description: get-forecast-and-weather-data-with-complete-geolocation-services-global-coverage-and-more-
  version: 1.0.0
host: api.wunderground.com
basePath: /api/
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /{key}/geolookup/q/CA/San_Francisco.json:
    get:
      summary: Get Key Geolookup Q Ca San Francisco
      description: This example will return the geographic attributes of San Francisco
        CA.    Use {2 letter state code} /    {City Name}
      operationId: Get_USA_Geolocate_example_
      x-api-path-slug: keygeolookupqcasan-francisco-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: state
        description: The state
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Geolookup
      - Q
      - CA
      - San
      - Francisco
      - Json
  /{key}/geolookup/q/France/Paris.json:
    get:
      summary: Get Key Geolookup Q France Paris
      description: This example will return the geographic attributes of Paris, France.
        Use {Full Country Name} / {City Name}
      operationId: Get_Outside_of_USA_Geolocate_example_
      x-api-path-slug: keygeolookupqfranceparis-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: country
        description: The country
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Geolookup
      - Q
      - France
      - Paris
      - Json
  /{key}/geolookup/q/autoip.json:
    get:
      summary: Get Key Geolookup Q Autoip
      description: This example will return the geographic attributes associated with
        the IP address location of the user.
      operationId: Get_IPAddress_example_
      x-api-path-slug: keygeolookupqautoip-json-get
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Geolookup
      - Q
      - Autoip
      - Json
  /{key}/geolookup/q/94107.json:
    get:
      summary: Get Key Geolookup Q 94107
      description: This example will return the geographic attributes of zip code
        94107
      operationId: Get_ZIP_geolocate_example_
      x-api-path-slug: keygeolookupq94107-json-get
      parameters:
      - in: path
        name: zip_code
        description: The zip code
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Geolookup
      - Q
      - "94107"
      - Json
  /{key}/geolookup/q/SFO.json:
    get:
      summary: Get Key Geolookup Q Sfo
      description: 'This example will return the geographic attributes of San Francisco
        International Airport (Airport Code: SFO)'
      operationId: Get_Airport_geolocate_example_
      x-api-path-slug: keygeolookupqsfo-json-get
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Geolookup
      - Q
      - SFO
      - Json
  /{key}/geolookup/q/37.776289,-122.395234.json:
    get:
      summary: Get Key Geolookup Q 37.776289, 122.395234
      description: This example will return the the geographic attributes of Latitude
        37.776289 N, Longitude 122.395234 W
      operationId: Get_Lat_Long_geolocate_example_
      x-api-path-slug: keygeolookupq37-776289122-395234-json-get
      parameters:
      - in: path
        name: latitude
        description: The latitude
        type: string
        format: string
      - in: path
        name: longitude
        description: The longitude
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Geolookup
      - Q
      - "37"
      - "776289"
      - "-122"
      - "395234"
      - Json
  /{key}/conditions/q/pws:KCATAHOE2.json:
    get:
      summary: Get Key Conditions Q Pws Kcatahoe2
      description: This example will return the the current weather conditions at
        the Personal Weather Station (pws) KCATAHOE2
      operationId: Get_pws_example_
      x-api-path-slug: keyconditionsqpwskcatahoe2-json-get
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Conditions
      - Q
      - Pws:KCATAHOE2
      - Json
  /{key}/conditions/q/CA/San_Francisco.json:
    get:
      summary: Get Key Conditions Q Ca San Francisco
      description: This example will return the current conditions in San Francisco,
        California
      operationId: Get_Conditions_example_
      x-api-path-slug: keyconditionsqcasan-francisco-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: state
        description: The state
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Conditions
      - Q
      - CA
      - San
      - Francisco
      - Json
  /{key}/astronomy/q/CA/San_Francisco.json:
    get:
      summary: Get Key Astronomy Q Ca San Francisco
      description: This example will return the Astronomy of San Francisco, California
      operationId: Get_Astronomy_example_
      x-api-path-slug: keyastronomyqcasan-francisco-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: state
        description: The state
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Astronomy
      - Q
      - CA
      - San
      - Francisco
      - Json
  /{key}/forecast/q/CA/San_Francisco.json:
    get:
      summary: Get Key Forecast Q Ca San Francisco
      description: This example will return the 3 Day Forecast Summary for San Francisco,
        California
      operationId: Get_forecast3_example_
      x-api-path-slug: keyforecastqcasan-francisco-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: state
        description: The state
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Forecast
      - Q
      - CA
      - San
      - Francisco
      - Json
  /{key}/almanac/q/{state}/San_Francisco.json:
    get:
      summary: Get Key Almanac Q Ca San Francisco
      description: This example will return Today's Average Highs/Lows and Record
        Highs/Lows for San Francisco, California.
      operationId: Get_almanac_example_
      x-api-path-slug: keyalmanacqstatesan-francisco-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: state
        description: The state
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Almanac
      - Q
      - CA
      - San
      - Francisco
      - Json
  /{key}/conditions/forecast/lang:FR/q/France/Paris.json:
    get:
      summary: Get Key Conditions Forecast Lang Fr Q France Paris
      description: This example will return Current Conditions and a 3 day simple
        Forecast for Paris France in French. See documentation page for full list
        of language code options.
      operationId: Get_French_example_
      x-api-path-slug: keyconditionsforecastlangfrqfranceparis-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: country
        description: The country
        type: string
        format: string
      - in: path
        name: language
        description: The language
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Conditions
      - Forecast
      - Lang:FR
      - Q
      - France
      - Paris
      - Json
  /{key}/conditions/forecast/lang:SP/q/Spain/Alicante.json:
    get:
      summary: Get Key Conditions Forecast Lang Sp Q Spain Alicante
      description: This example will return Current Conditions and a 3 day simple
        Forecast for Alicante, Spain in Spanish. See documentation page for full list
        of language code options.
      operationId: Get_Spanish_example_
      x-api-path-slug: keyconditionsforecastlangspqspainalicante-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: country
        description: The country
        type: string
        format: string
      - in: path
        name: language
        description: The language
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Conditions
      - Forecast
      - Lang:SP
      - Q
      - Spain
      - Alicante
      - Json
  /{key}/forecast10day/q/CA/San_Francisco.json:
    get:
      summary: Get Key Forecast10day Q Ca San Francisco
      description: This example will return the 10 Day Forecast Summary for San Francisco,
        California
      operationId: Get_forecast10_example_
      x-api-path-slug: keyforecast10dayqcasan-francisco-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: state
        description: The state
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Forecast10day
      - Q
      - CA
      - San
      - Francisco
      - Json
  /{key}/hourly/q/CA/San_Francisco.json:
    get:
      summary: Get Key Hourly Q Ca San Francisco
      description: This example will return a detailed hourly forecast for the 'next'
        36 hours in San Francisco, California
      operationId: Get_OneDay_hourly_example_
      x-api-path-slug: keyhourlyqcasan-francisco-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: state
        description: The state
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Hourly
      - Q
      - CA
      - San
      - Francisco
      - Json
  /{key}/satellite/q/CA/San_Francisco.json:
    get:
      summary: Get Key Satellite Q Ca San Francisco
      description: This example will return URL's for satellite (visual and IR) images
        for San Francisco, California
      operationId: Get_satellite_example_
      x-api-path-slug: keysatelliteqcasan-francisco-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: state
        description: The state
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Satellite
      - Q
      - CA
      - San
      - Francisco
      - Json
  /{key}/radar/image.gif?maxlat=42.35%26maxlon=-109.311%26minlat=39.27%26minlon=-114.644%26width=600%26height=480%26newmaps=0:
    get:
      summary: Get Key Radar Image.gif Maxlat 42.35%26maxlon 109.311%26minlat 39.27%26minlon
        114.644%26wth 600%26height 480%26newmaps 0
      description: This example will return dynamic radar image around Salt Lake City,
        UT with a transparent background. See Docs for all the options for creating
        these images.
      operationId: Get_radar_example_
      x-api-path-slug: keyradarimage-gifmaxlat42-3526maxlon109-31126minlat39-2726minlon114-64426width60026height48026newmaps0-get
      parameters:
      - in: query
        name: height
        description: The height
        type: string
        format: string
      - in: query
        name: maxlat
        description: Max longitude
        type: string
        format: string
      - in: query
        name: maxlon
        description: Max longitude
        type: string
        format: string
      - in: query
        name: minlat
        description: Min latitude
        type: string
        format: string
      - in: query
        name: minlon
        description: Min longitude
        type: string
        format: string
      - in: query
        name: width
        description: The width
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Radar
      - Image
      - Gif?maxlat=42
      - 35%26maxlon=-109
      - 311%26minlat=39
      - 27%26minlon=-114
      - 644%26width=600%26height=480%26newmaps=0
  /{key}/radar/image.gif?maxlat=42.35%26maxlon=-109.311%26minlat=39.27%26minlon=-114.644%26width=600%26height=480%26newmaps=1:
    get:
      summary: Get Key Radar Image.gif Maxlat 42.35%26maxlon 109.311%26minlat 39.27%26minlon
        114.644%26wth 600%26height 480%26newmaps 1
      description: This example will return dynamic radar image around Salt Lake City,
        UT with a Base Map background. See Docs for all the options for creating these
        images.
      operationId: Get_radar_example2_
      x-api-path-slug: keyradarimage-gifmaxlat42-3526maxlon109-31126minlat39-2726minlon114-64426width60026height48026newmaps1-get
      parameters:
      - in: query
        name: height
        description: The height
        type: string
        format: string
      - in: query
        name: maxlat
        description: Max longitude
        type: string
        format: string
      - in: query
        name: maxlon
        description: Max longitude
        type: string
        format: string
      - in: query
        name: minlat
        description: Min latitude
        type: string
        format: string
      - in: query
        name: minlon
        description: Min longitude
        type: string
        format: string
      - in: query
        name: width
        description: The width
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Radar
      - Image
      - Gif?maxlat=42
      - 35%26maxlon=-109
      - 311%26minlat=39
      - 27%26minlon=-114
      - 644%26width=600%26height=480%26newmaps=1
  /{key}/alerts/q/{state}/San_Francisco.json:
    get:
      summary: Get Key Alerts Q Ca San Francisco
      description: This example will return active severe alerts for San Francisco,
        California.    This request only works in the USA, Canada and Europe.
      operationId: Get_alerts_example_
      x-api-path-slug: keyalertsqstatesan-francisco-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: state
        description: The state
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Alerts
      - Q
      - CA
      - San
      - Francisco
      - Json
  /{key}/tide/q/CA/San_Francisco.json:
    get:
      summary: Get Key Te Q Ca San Francisco
      description: This example will return 4 days of tides for San Francisco, California
        starting 'today'.    This request only works in the USA.
      operationId: Get_Tide_example1_
      x-api-path-slug: keytideqcasan-francisco-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: state
        description: The state
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Tide
      - Q
      - CA
      - San
      - Francisco
      - Json
  /{key}/tide_20160312/q/CA/San_Francisco.json:
    get:
      summary: Get Key Te 20160312 Q Ca San Francisco
      description: This example will return 4 days of tides for San Francisco, California
        following March 3 2012.    This request only works in the USA.
      operationId: Get_Tide_example2_
      x-api-path-slug: keytide-20160312qcasan-francisco-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: state
        description: The state
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Tide
      - "20160312"
      - Q
      - CA
      - San
      - Francisco
      - Json
  /{key}/rawtide_20160312/q/CA/San_Francisco.json:
    get:
      summary: Get Key Rawte 20160312 Q Ca San Francisco
      description: This example will return raw tide data for San Francisco, California
        on March 3 2016.    This request only works in the USA.
      operationId: Get_Tide_RAW_example_
      x-api-path-slug: keyrawtide-20160312qcasan-francisco-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: state
        description: The state
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Rawtide
      - "20160312"
      - Q
      - CA
      - San
      - Francisco
      - Json
  /{key}/hourly10day/q/CA/San_Francisco.json:
    get:
      summary: Get Key Hourly10day Q Ca San Francisco
      description: This example will return a detailed hourly forecast for the next
        10 days in San Francisco, California
      operationId: Get_TenDay_hourly_example_
      x-api-path-slug: keyhourly10dayqcasan-francisco-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: state
        description: The state
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Hourly10day
      - Q
      - CA
      - San
      - Francisco
      - Json
  /{key}/yesterday/q/CA/San_Francisco.json:
    get:
      summary: Get Key Yesterday Q Ca San Francisco
      description: This example will return yesterday's weather in San Francisco,
        California.
      operationId: Get_yesterday_example_
      x-api-path-slug: keyyesterdayqcasan-francisco-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: state
        description: The state
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Yesterday
      - Q
      - CA
      - San
      - Francisco
      - Json
  /{key}/planner_10051031/q/CA/San_Francisco.json:
    get:
      summary: Get Key Planner 10051031 Q Ca San Francisco
      description: 'This example will return a Historical roll up of weather data
        in San Francisco from Oct 5 to Oct 31. An example application: http://www.wunderground.com/travelplanner/index.asp'
      operationId: Get_Planner_example_
      x-api-path-slug: keyplanner-10051031qcasan-francisco-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: state
        description: The state
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Planner
      - "10051031"
      - Q
      - CA
      - San
      - Francisco
      - Json
  /{key}/webcams/q/CA/San_Francisco.json:
    get:
      summary: Get Key Webcams Q Ca San Francisco
      description: This example will return URL's to webcam images in San Francisco,
        California.    It will also return information about the webcam, including
        it's location in Lat,Long coordinates.
      operationId: Get_cams_example_
      x-api-path-slug: keywebcamsqcasan-francisco-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: state
        description: The state
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Webcams
      - Q
      - CA
      - San
      - Francisco
      - Json
  ? /{key}/animatedradar/image.gif?maxlat=42.35%26maxlon=-109.311%26minlat=39.27%26minlon=-114.644%26width=600%26height=480%26newmaps=1
  : get:
      summary: Get Key Animatedradar Image.gif Maxlat 42.35%26maxlon 109.311%26minlat
        39.27%26minlon 114.644%26wth 600%26height 480%26newmaps 1
      description: This example will return dynamic animated radar image around Salt
        Lake City, UT with a base map background. See Docs for all the options for
        creating these images.
      operationId: Get_radar_example3_
      x-api-path-slug: keyanimatedradarimage-gifmaxlat42-3526maxlon109-31126minlat39-2726minlon114-64426width60026height48026newmaps1-get
      parameters:
      - in: query
        name: height
        description: The height
        type: string
        format: string
      - in: query
        name: maxlat
        description: Max longitude
        type: string
        format: string
      - in: query
        name: maxlon
        description: Max longitude
        type: string
        format: string
      - in: query
        name: minlat
        description: Min latitude
        type: string
        format: string
      - in: query
        name: minlon
        description: Min longitude
        type: string
        format: string
      - in: query
        name: width
        description: The width
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Animatedradar
      - Image
      - Gif?maxlat=42
      - 35%26maxlon=-109
      - 311%26minlat=39
      - 27%26minlon=-114
      - 644%26width=600%26height=480%26newmaps=1
  /{key}/animatedradar/image.gif:
    get:
      summary: Get Key Animatedradar Image.gif Maxlat 42.35%26maxlon 109.311%26minlat
        39.27%26minlon 114.644%26wth 600%26height 480%26newmaps 0
      description: This example will return dynamic animated radar image around Salt
        Lake City, UT with a transparent background. See Docs for all the options
        for creating these images.
      operationId: Get_radar_example4_
      x-api-path-slug: keyanimatedradarimage-gif-get
      parameters:
      - in: query
        name: height
        description: The height
        type: string
        format: string
      - in: query
        name: maxlat
        description: Max latitude
        type: string
        format: string
      - in: query
        name: maxlon
        description: Max longitude
        type: string
        format: string
      - in: query
        name: minlat
        description: Min latitude
        type: string
        format: string
      - in: query
        name: minlon
        description: Min longitude
        type: string
        format: string
      - in: query
        name: width
        description: The width
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Animatedradar
      - Image
      - Gif?maxlat=42
      - 35%26maxlon=-109
      - 311%26minlat=39
      - 27%26minlon=-114
      - 644%26width=600%26height=480%26newmaps=0
  /{key}/history_20101018/q/SFO.json:
    get:
      summary: Get Key History 20101018 Q Sfo
      description: This example will return historical data for San Francisco, California
        for the specified date.    If you search by zip or lat/long you will get nearest
        airport.
      operationId: Get_History_example_
      x-api-path-slug: keyhistory-20101018qsfo-json-get
      parameters:
      - in: path
        name: airport_code
        description: The airport code
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - History
      - "20101018"
      - Q
      - SFO
      - Json
  /{key}/history_20101018/q/pws:KCASANFR14.json:
    get:
      summary: Get Key History 20101018 Q Pws Kcasanfr14
      description: This example will return historical data for a Personal Weather
        Station for the specified date.    The feature only works with JSON.    XML
        will come out soon.
      operationId: Get_History_example_pws_
      x-api-path-slug: keyhistory-20101018qpwskcasanfr14-json-get
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - History
      - "20101018"
      - Q
      - Pws:KCASANFR14
      - Json
  /{key}/geolookup/conditions/q/CA/San_Francisco.json:
    get:
      summary: Get Key Geolookup Conditions Q Ca San Francisco
      description: This example will return the geographical and current conditions
        for San Francisco, California
      operationId: Get_Geolocate_current_example_
      x-api-path-slug: keygeolookupconditionsqcasan-francisco-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: state
        description: The state
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Geolookup
      - Conditions
      - Q
      - CA
      - San
      - Francisco
      - Json
  /{key}/geolookup/conditions/forecast/q/CA/San_Francisco.json:
    get:
      summary: Get Key Geolookup Conditions Forecast Q Ca San Francisco
      description: This example will return the geographical, current conditions and
        3 day forecast summary for San Francisco, California
      operationId: Get_Geolocate_current_forecast_example_
      x-api-path-slug: keygeolookupconditionsforecastqcasan-francisco-json-get
      parameters:
      - in: path
        name: city
        description: The city
        type: string
        format: string
      - in: path
        name: state
        description: The state
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Weather
      - Key
      - Geolookup
      - Conditions
      - Forecast
      - Q
      - CA
      - San
      - Francisco
      - Json