swagger: "2.0"
x-collection-name: National Renewable Energy Laboratory
x-complete: 1
info:
  title: High Performance Building Database
  description: the-buildings-database-is-a-shared-resource-for-the-building-industry--the-database-developed-by-the-u-s--department-of-energy-and-the-national-renewable-energy-laboratory-nrel-is-a-unique-central-repository-of-indepth-information-and-data-on-highperformance-green-building-projects-across-the-united-states-and-abroad---
  version: "1.0"
host: developer.nrel.gov
basePath: /api/building-case-studies
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /project.{output_format}:
    get:
      summary: Get Projects
      description: Get Projects
      operationId: getProject
      x-api-path-slug: project-output-format-get
      parameters:
      - in: query
        name: city
        description: City
      - in: path
        name: output_format
        description: Response Format
      - in: query
        name: page
        description: Page Number
      - in: query
        name: portal
        description: Portal ID
      - in: query
        name: province
        description: 'State or Province (ex: CO, AZ)'
      - in: query
        name: region
        description: Climate Region
      - in: query
        name: search
        description: Search Text
      responses:
        200:
          description: OK
      tags:
      - Projects
  /project/{project_id}.{output_format}:
    get:
      summary: Get Project Details
      description: This API allows users to request metadata associated with the specific
        Document.
      operationId: document
      x-api-path-slug: projectproject-id-output-format-get
      parameters:
      - in: path
        name: output_format
        description: Response Format
      - in: path
        name: project_id
        description: Project ID
      responses:
        200:
          description: OK
      tags:
      - Projects