swagger: "2.0"
x-collection-name: ARIN
x-complete: 1
info:
  title: Delegation API
  description: delegations-are-entries-that-relate-ip-addresses-to-domain-names-using-the-domain-name-system-dns-of-the-internet--delegations-contain-the-information-necessary-for-reverse-dns-including-the-associated-nameservers-and-dns-delegation-signer-ds-record-information--delegations-may-not-be-created-or-deleted-independently--they-appear-and-disappear-automatically-alongside-their-associated-networks--unlike-the-other-objects-delegations-are-not-given-a-handle--they-are-searched-for-within-whois-using-a-delegation-name-like-0-192-inaddr-arpa-
  version: 1.0.0
host: www.arin.net
basePath: /regrws/core/v1
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /delegation:
    get:
      summary: Get Delegation
      description: This call will return a payload containing details about the Delegation
        specified in your URL.
      operationId: getDelegation
      x-api-path-slug: delegation-get
      responses:
        200:
          description: OK
      tags:
      - Delegation
    put:
      summary: Update Delegation
      description: This call will modify the details of the Delegation specified in
        your URL. When making this call, attach a Delegation Payload containing the
        details of the Delegation you intend to modify. To ensure accuracy, use Get
        Delegation to get the most current information before making changes. This
        call returns a payload containing that Delegation's information as it exists
        after modification.
      operationId: updateDelegation
      x-api-path-slug: delegation-put
      responses:
        200:
          description: OK
      tags:
      - Delegation
    post:
      summary: Add Delegation
      description: This call will add the single nameserver specified in your URL
        to the Delegation specified in your URL, and return a payload containing that
        Delegation's information after the nameserver has been added.
      operationId: addDelegation
      x-api-path-slug: delegation-post
      responses:
        200:
          description: OK
      tags:
      - Delegation
    delete:
      summary: Delete Delegation
      description: This call will delete the single nameserver specified in your URL
        from the Delegation specified in your URL, and return a payload containing
        that Delegation's information after the nameserver has been deleted.  If Reg-RWS
        returns an error code and/or Error Payload to you when performing this call,
        refer to the Error Codes section.
      operationId: deleteDelegation
      x-api-path-slug: delegation-delete
      responses:
        200:
          description: OK
      tags:
      - Delegation