swagger: "2.0"
x-collection-name: DuckDuckGo
x-complete: 1
info:
  title: DuckDuckGo Instant Answer API
  description: our-instant-answer-api-gives-you-free-access-to-many-of-our-instant-answers-like-topic-summaries-api-example-categories-api-example-disambiguation-api-example-and-bang-redirects-api-example--this-api-does-not-include-all-of-our-links-however--that-is-it-is-not-a-full-search-results-api-or-a-way-to-get-duckduckgo-results-into-your-applications-beyond-our-instant-answers--because-of-the-way-we-generate-our-search-results-we-unfortunately-do-not-have-the-rights-to-fully-syndicate-our-results-free-or-paid--for-the-same-reason-we-cannot-allow-framing-our-results-without-our-branding--please-see-our-partnerships-page-for-more-info-on-guidelines-and-getting-in-touch-with-us-
  version: 1.0.0
host: api.duckduckgo.com
basePath: /
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /:
    get:
      summary: Search
      description: Our Zero-click Info API gives you free access to much of our topic
        summaries, categories, disambiguation, !bang redirects, definitions and more.
      operationId: zero-click-info
      x-api-path-slug: get
      parameters:
      - in: query
        name: callback
        description: Function to callback (for a JSONP formatted response)
      - in: query
        name: format
      - in: query
        name: no_html
        description: 1 to remove HTML from text, e
      - in: query
        name: no_redirect
        description: 1 to skip HTTP redirects (for !bang commands - see http://duckduckgo
      - in: query
        name: q
        description: Search terms
      - in: query
        name: skip_disambig
        description: 1 to skip disambiguation (D) Type
      responses:
        200:
          description: OK
      tags:
      - Search