swagger: "2.0"
x-collection-name: Steem
x-complete: 1
info:
  title: Interactive Steem API
  description: interactive-steem-api-lets-you-interact-with-steem-blockchain-and-make-a-request-get-output-and-start-implementing-new-apps-apis-have-default-parameters-set-to-get-you-started-and-see-how-request-works--api-list-is-compiled-from-steem-githubhttpsgithub-comsteemitsteem-1httpsgithub-comsteemitsteemtreemasterlibrariesappincludesteemitappapi-hpp-and-2httpsgithub-comsteemitsteemtreemasterlibrariesappincludesteemitappdatabase-api-hpp--if-you-want-to-contribute-documenting-detail-of-properties-and-output-contact-goodkarmahttpssteemit-chatdirectgoodkarma--you-can-also-check-full-list-here-steem-jshttpssteemjs-com
  version: 1.0.0
host: api.steemjs.com
basePath: /
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /get_version:
    get:
      summary: get version of Steem
      description: Returns version information of connected Steem node/websocket.
      operationId: returns-version-information-of-connected-steem-nodewebsocket
      x-api-path-slug: get-version-get
      responses:
        200:
          description: OK
      tags:
      - Get
      - Version
      - Of
      - Steem
  /get_account_count:
    get:
      summary: number of accounts
      description: Get Number of Accounts from Steem
      operationId: get-number-of-accounts-from-steem
      x-api-path-slug: get-account-count-get
      responses:
        200:
          description: OK
      tags:
      - Number
      - Of
      - Accounts
  /get_chain_properties:
    get:
      summary: get chain properties
      description: get chain properties
      operationId: get-chain-properties
      x-api-path-slug: get-chain-properties-get
      responses:
        200:
          description: OK
      tags:
      - Get
      - Chain
      - Properties
  /get_config:
    get:
      summary: get config
      description: get config
      operationId: get-config
      x-api-path-slug: get-config-get
      responses:
        200:
          description: OK
      tags:
      - Get
      - Config
  /get_dynamic_global_properties:
    get:
      summary: get_dynamic_global_properties
      description: get_dynamic_global_properties
      operationId: get-dynamic-global-properties
      x-api-path-slug: get-dynamic-global-properties-get
      responses:
        200:
          description: OK
      tags:
      - Get
      - Dynamic
      - Global
      - Properties
  /get_feed_history:
    get:
      summary: get_feed_history
      description: get_feed_history
      operationId: get-feed-history
      x-api-path-slug: get-feed-history-get
      responses:
        200:
          description: OK
      tags:
      - Get
      - Feed
      - History
  /get_current_median_history_price:
    get:
      summary: get_current_median_history_price
      description: get_current_median_history_price
      operationId: get-current-median-history-price
      x-api-path-slug: get-current-median-history-price-get
      responses:
        200:
          description: OK
      tags:
      - Get
      - Current
      - Median
      - History
      - Price
  /get_hardfork_version:
    get:
      summary: get_hardfork_version
      description: get_hardfork_version
      operationId: get-hardfork-version
      x-api-path-slug: get-hardfork-version-get
      responses:
        200:
          description: OK
      tags:
      - Get
      - Hardfork
      - Version
  /get_next_scheduled_hardfork:
    get:
      summary: get_next_scheduled_hardfork
      description: get_next_scheduled_hardfork
      operationId: get-next-scheduled-hardfork
      x-api-path-slug: get-next-scheduled-hardfork-get
      responses:
        200:
          description: OK
      tags:
      - Get
      - Next
      - Scheduled
      - Hardfork
  /get_witness_count:
    get:
      summary: get_witness_count
      description: get_witness_count
      operationId: get-witness-count
      x-api-path-slug: get-witness-count-get
      responses:
        200:
          description: OK
      tags:
      - Get
      - Witness
      - Count
  /lookup_witness_accounts:
    get:
      summary: lookup_witness_accounts
      description: lookup_witness_accounts regex search
      operationId: lookup-witness-accounts-regex-search
      x-api-path-slug: lookup-witness-accounts-get
      parameters:
      - in: query
        name: limit
        description: limit
      - in: query
        name: lowerBoundName
        description: lowerBoundName
      responses:
        200:
          description: OK
      tags:
      - Lookup
      - Witness
      - Accounts
  /get_witness_schedule:
    get:
      summary: get_witness_schedule
      description: get_witness_schedule
      operationId: get-witness-schedule
      x-api-path-slug: get-witness-schedule-get
      responses:
        200:
          description: OK
      tags:
      - Get
      - Witness
      - Schedule
  /get_witnesses:
    get:
      summary: get_witnesses
      description: get_witnesses
      operationId: get-witnesses
      x-api-path-slug: get-witnesses-get
      parameters:
      - in: query
        name: witnessIds
        description: witnessIds
      responses:
        200:
          description: OK
      tags:
      - Get
      - Witnesses
  /get_witness_by_account:
    get:
      summary: get_witness_by_account
      description: get_witness_by_account
      operationId: get-witness-by-account
      x-api-path-slug: get-witness-by-account-get
      parameters:
      - in: query
        name: accountName
        description: witness account name
      responses:
        200:
          description: OK
      tags:
      - Get
      - Witness
      - By
      - Account
  /get_witnesses_by_vote:
    get:
      summary: get_witnesses_by_vote
      description: get_witnesses_by_vote
      operationId: get-witnesses-by-vote
      x-api-path-slug: get-witnesses-by-vote-get
      parameters:
      - in: query
        name: from
        description: from witness
      - in: query
        name: limit
        description: limit
      responses:
        200:
          description: OK
      tags:
      - Get
      - Witnesses
      - By
      - Vote
  /get_active_witnesses:
    get:
      summary: get_active_witnesses
      description: get_active_witnesses
      operationId: get-active-witnesses
      x-api-path-slug: get-active-witnesses-get
      responses:
        200:
          description: OK
      tags:
      - Get
      - Active
      - Witnesses
  /witness_update:
    get:
      summary: witness_update
      description: witness_update
      operationId: witness-update
      x-api-path-slug: witness-update-get
      parameters:
      - in: query
        name: block_signing_key
        description: block_signing_key
      - in: query
        name: fee
        description: fee
      - in: query
        name: owner
        description: witness name
      - in: query
        name: props
        description: props
      - in: query
        name: url
        description: url
      responses:
        200:
          description: OK
      tags:
      - Witness
      - Update
  /get_miner_queue:
    get:
      summary: get_miner_queue
      description: get_miner_queue
      operationId: get-miner-queue
      x-api-path-slug: get-miner-queue-get
      responses:
        200:
          description: OK
      tags:
      - Get
      - Miner
      - Queue
  /get_liquidity_queue:
    get:
      summary: get_liquidity_queue
      description: get_liquidity_queue
      operationId: get-liquidity-queue
      x-api-path-slug: get-liquidity-queue-get
      parameters:
      - in: query
        name: limit
        description: limit
      - in: query
        name: startAccount
        description: account name
      responses:
        200:
          description: OK
      tags:
      - Get
      - Liquidity
      - Queue
  /get_open_orders:
    get:
      summary: get_open_orders
      description: get_open_orders
      operationId: get-open-orders
      x-api-path-slug: get-open-orders-get
      parameters:
      - in: query
        name: owner
        description: account name
      responses:
        200:
          description: OK
      tags:
      - Get
      - Open
      - Orders
  /get_order_book:
    get:
      summary: get_order_book
      description: get_order_book
      operationId: get-order-book
      x-api-path-slug: get-order-book-get
      parameters:
      - in: query
        name: limit
        description: limit
      responses:
        200:
          description: OK
      tags:
      - Get
      - Order
      - Book
  /get_active_categories:
    get:
      summary: get active categories
      description: get tags
      operationId: get-tags
      x-api-path-slug: get-active-categories-get
      parameters:
      - in: query
        name: after
        description: after string
      - in: query
        name: limit
        description: limit size
      responses:
        200:
          description: OK
      tags:
      - Get
      - Active
      - Categories
  /get_best_categories:
    get:
      summary: get best categories
      description: get tags
      operationId: get-tags
      x-api-path-slug: get-best-categories-get
      parameters:
      - in: query
        name: after
        description: after
      - in: query
        name: limit
        description: limits
      responses:
        200:
          description: OK
      tags:
      - Get
      - Best
      - Categories
  /get_recent_categories:
    get:
      summary: get recent categories
      description: get tags
      operationId: get-tags
      x-api-path-slug: get-recent-categories-get
      parameters:
      - in: query
        name: after
        description: after
      - in: query
        name: limit
        description: limit
      responses:
        200:
          description: OK
      tags:
      - Get
      - Recent
      - Categories
  /get_trending_categories:
    get:
      summary: get trending categories
      description: get tags
      operationId: get-tags
      x-api-path-slug: get-trending-categories-get
      parameters:
      - in: query
        name: after
        description: after
      - in: query
        name: limit
        description: limits
      responses:
        200:
          description: OK
      tags:
      - Get
      - Trending
      - Categories
  /get_trending_tags:
    get:
      summary: get trending categories
      description: get tags
      operationId: get-tags
      x-api-path-slug: get-trending-tags-get
      parameters:
      - in: query
        name: afterTag
        description: category
      - in: query
        name: limit
        description: limits
      responses:
        200:
          description: OK
      tags:
      - Get
      - Trending
      - Categories
  /get_content:
    get:
      summary: get content
      description: get content
      operationId: get-content
      x-api-path-slug: get-content-get
      parameters:
      - in: query
        name: author
        description: author
      - in: query
        name: permlink
        description: permlink
      responses:
        200:
          description: OK
      tags:
      - Get
      - Content
  /get_content_replies:
    get:
      summary: get content replies
      description: get content replies
      operationId: get-content-replies
      x-api-path-slug: get-content-replies-get
      parameters:
      - in: query
        name: author
        description: author
      - in: query
        name: permlink
        description: permlink
      responses:
        200:
          description: OK
      tags:
      - Get
      - Content
      - Replies
  /get_discussions_by_trending:
    get:
      summary: get discussions
      description: get discussions, | query example {"limit":"10", "tag":"steem"}
        OR {"start_author":"author", "permlink":"permlink"} for pagination
      operationId: get-discussions--query-example-limit10-tagsteem-or-start-authorauthor-permlinkpermlink-for-paginatio
      x-api-path-slug: get-discussions-by-trending-get
      parameters:
      - in: query
        name: query
        description: query object
      responses:
        200:
          description: OK
      tags:
      - Get
      - Discussions
  /get_discussions_by_trending30:
    get:
      summary: get discussions
      description: get discussions, | query example {"limit":"10", "tag":"steem"}
        OR {"start_author":"author", "permlink":"permlink"} for pagination
      operationId: get-discussions--query-example-limit10-tagsteem-or-start-authorauthor-permlinkpermlink-for-paginatio
      x-api-path-slug: get-discussions-by-trending30-get
      parameters:
      - in: query
        name: query
        description: query object
      responses:
        200:
          description: OK
      tags:
      - Get
      - Discussions
  /get_discussions_by_created:
    get:
      summary: get discussions
      description: get discussions, | query example {"limit":"10", "tag":"steem"}
        OR {"start_author":"author", "permlink":"permlink"} for pagination
      operationId: get-discussions--query-example-limit10-tagsteem-or-start-authorauthor-permlinkpermlink-for-paginatio
      x-api-path-slug: get-discussions-by-created-get
      parameters:
      - in: query
        name: query
        description: query object
      responses:
        200:
          description: OK
      tags:
      - Get
      - Discussions
  /get_discussions_by_active:
    get:
      summary: get discussions
      description: get discussions, | query example {"limit":"10", "tag":"steem"}
        OR {"start_author":"author", "permlink":"permlink"} for pagination
      operationId: get-discussions--query-example-limit10-tagsteem-or-start-authorauthor-permlinkpermlink-for-paginatio
      x-api-path-slug: get-discussions-by-active-get
      parameters:
      - in: query
        name: query
        description: query object
      responses:
        200:
          description: OK
      tags:
      - Get
      - Discussions
  /get_discussions_by_promoted:
    get:
      summary: get discussions
      description: get discussions, | query example {"limit":"10", "tag":"steem"}
        OR {"start_author":"author", "permlink":"permlink"} for pagination
      operationId: get-discussions--query-example-limit10-tagsteem-or-start-authorauthor-permlinkpermlink-for-paginatio
      x-api-path-slug: get-discussions-by-promoted-get
      parameters:
      - in: query
        name: query
        description: query object
      responses:
        200:
          description: OK
      tags:
      - Get
      - Discussions
  /get_discussions_by_cashout:
    get:
      summary: get discussions
      description: get discussions, | query example {"limit":"10", "tag":"steem"}
        OR {"start_author":"author", "permlink":"permlink"} for pagination
      operationId: get-discussions--query-example-limit10-tagsteem-or-start-authorauthor-permlinkpermlink-for-paginatio
      x-api-path-slug: get-discussions-by-cashout-get
      parameters:
      - in: query
        name: query
        description: query object
      responses:
        200:
          description: OK
      tags:
      - Get
      - Discussions
  /get_discussions_by_payout:
    get:
      summary: get discussions
      description: get discussions, | query example {"limit":"10", "tag":"steem"}
        OR {"start_author":"author", "permlink":"permlink"} for pagination
      operationId: get-discussions--query-example-limit10-tagsteem-or-start-authorauthor-permlinkpermlink-for-paginatio
      x-api-path-slug: get-discussions-by-payout-get
      parameters:
      - in: query
        name: query
        description: query object
      responses:
        200:
          description: OK
      tags:
      - Get
      - Discussions
  /get_discussions_by_votes:
    get:
      summary: get discussions
      description: get discussions, | query example {"limit":"10", "tag":"steem"}
        OR {"start_author":"author", "permlink":"permlink"} for pagination
      operationId: get-discussions--query-example-limit10-tagsteem-or-start-authorauthor-permlinkpermlink-for-paginatio
      x-api-path-slug: get-discussions-by-votes-get
      parameters:
      - in: query
        name: query
        description: query object
      responses:
        200:
          description: OK
      tags:
      - Get
      - Discussions
  /get_discussions_by_children:
    get:
      summary: get discussions
      description: get discussions, | query example {"limit":"10", "tag":"steem"}
        OR {"start_author":"author", "permlink":"permlink"} for pagination
      operationId: get-discussions--query-example-limit10-tagsteem-or-start-authorauthor-permlinkpermlink-for-paginatio
      x-api-path-slug: get-discussions-by-children-get
      parameters:
      - in: query
        name: query
        description: query object
      responses:
        200:
          description: OK
      tags:
      - Get
      - Discussions
  /get_discussions_by_hot:
    get:
      summary: get discussions
      description: get discussions, | query example {"limit":"10", "tag":"steem"}
        OR {"start_author":"author", "permlink":"permlink"} for pagination
      operationId: get-discussions--query-example-limit10-tagsteem-or-start-authorauthor-permlinkpermlink-for-paginatio
      x-api-path-slug: get-discussions-by-hot-get
      parameters:
      - in: query
        name: query
        description: query object
      responses:
        200:
          description: OK
      tags:
      - Get
      - Discussions
  /get_discussions_by_feed:
    get:
      summary: get discussions
      description: get discussions, | query example {"limit":"10", "tags":"good-karma"}
        OR {"start_author":"author", "permlink":"permlink"} for pagination
      operationId: get-discussions--query-example-limit10-tagsgoodkarma-or-start-authorauthor-permlinkpermlink-for-pagi
      x-api-path-slug: get-discussions-by-feed-get
      parameters:
      - in: query
        name: query
        description: query object
      responses:
        200:
          description: OK
      tags:
      - Get
      - Discussions
  /get_discussions_by_blog:
    get:
      summary: get discussions
      description: get discussions, | query example {"limit":"10", "tag":"good-karma"}
        OR {"start_author":"author", "permlink":"permlink"} for pagination
      operationId: get-discussions--query-example-limit10-taggoodkarma-or-start-authorauthor-permlinkpermlink-for-pagin
      x-api-path-slug: get-discussions-by-blog-get
      parameters:
      - in: query
        name: query
        description: query object
      responses:
        200:
          description: OK
      tags:
      - Get
      - Discussions
  /get_discussions_by_comments:
    get:
      summary: get discussions
      description: get discussions, | query example {"start_author":"author", "start_permlink":"permlink",
        "limi":"10"}
      operationId: get-discussions--query-example-start-authorauthor-start-permlinkpermlink-limi10
      x-api-path-slug: get-discussions-by-comments-get
      parameters:
      - in: query
        name: query
        description: query object
      responses:
        200:
          description: OK
      tags:
      - Get
      - Discussions
  /get_discussions_by_author_before_date:
    get:
      summary: get_discussions_by_author_before_date
      description: get_discussions_by_author_before_date
      operationId: get-discussions-by-author-before-date
      x-api-path-slug: get-discussions-by-author-before-date-get
      parameters:
      - in: query
        name: author
        description: account name
      - in: query
        name: beforeDate
        description: date and time
      - in: query
        name: limit
        description: limit query
      - in: query
        name: startPermlink
        description: permlink of post
      responses:
        200:
          description: OK
      tags:
      - Get
      - Discussions
      - By
      - Author
      - Before
      - Date
  /get_replies_by_last_update:
    get:
      summary: get_replies_by_last_update
      description: get_replies_by_last_update
      operationId: get-replies-by-last-update
      x-api-path-slug: get-replies-by-last-update-get
      parameters:
      - in: query
        name: limit
        description: limit query
      - in: query
        name: startAuthor
        description: account name
      - in: query
        name: startPermlink
        description: permlink of post
      responses:
        200:
          description: OK
      tags:
      - Get
      - Replies
      - By
      - Last
      - Update
  /get_state:
    get:
      summary: get_state
      description: get_state
      operationId: get-state
      x-api-path-slug: get-state-get
      parameters:
      - in: query
        name: path
        description: account name
      responses:
        200:
          description: OK
      tags:
      - Get
      - State
  /get_active_votes:
    get:
      summary: get_active_votes
      description: get_active_votes
      operationId: get-active-votes
      x-api-path-slug: get-active-votes-get
      parameters:
      - in: query
        name: author
        description: account name
      - in: query
        name: permlink
        description: permlink of post
      responses:
        200:
          description: OK
      tags:
      - Get
      - Active
      - Votes
  /get_account_votes:
    get:
      summary: get_account_votes
      description: get_account_votes
      operationId: get-account-votes
      x-api-path-slug: get-account-votes-get
      parameters:
      - in: query
        name: voter
        description: account name
      responses:
        200:
          description: OK
      tags:
      - Get
      - Account
      - Votes
  /get_account_history:
    get:
      summary: Account history
      description: Account history
      operationId: account-history
      x-api-path-slug: get-account-history-get
      parameters:
      - in: query
        name: account
        description: name of account
      - in: query
        name: from
        description: from
      - in: query
        name: limit
        description: limit
      responses:
        200:
          description: OK
      tags:
      - Account
      - History
  /get_owner_history:
    get:
      summary: get_owner_history
      description: get_owner_history
      operationId: get-owner-history
      x-api-path-slug: get-owner-history-get
      parameters:
      - in: query
        name: account
        description: account name
      responses:
        200:
          description: OK
      tags:
      - Get
      - Owner
      - History
  /get_accounts:
    get:
      summary: Account
      description: Get Accounts from Steem
      operationId: get-accounts-from-steem
      x-api-path-slug: get-accounts-get
      parameters:
      - in: query
        name: names[]
        description: name of account
      responses:
        200:
          description: OK
      tags:
      - Account
  /get_conversion_requests:
    get:
      summary: get conversation
      description: get conversation requests of account
      operationId: get-conversation-requests-of-account
      x-api-path-slug: get-conversion-requests-get
      parameters:
      - in: query
        name: accountName
        description: account name
      responses:
        200:
          description: OK
      tags:
      - Get
      - Conversation
  /get_recovery_request:
    get:
      summary: get_recovery_request
      description: get_recovery_request
      operationId: get-recovery-request
      x-api-path-slug: get-recovery-request-get
      parameters:
      - in: query
        name: account
        description: account name
      responses:
        200:
          description: OK
      tags:
      - Get
      - Recovery
      - Request
  /lookup_account_names:
    get:
      summary: lookup_account_names
      description: lookup_account_names example of accountNames ["good-karma", "fabien"]
      operationId: lookup-account-names-example-of-accountnames-goodkarma-fabien
      x-api-path-slug: lookup-account-names-get
      parameters:
      - in: query
        name: accountNames
        description: accountNames [good-karma, fabien]
      responses:
        200:
          description: OK
      tags:
      - Lookup
      - Account
      - Names
  /lookup_accounts:
    get:
      summary: lookup_accounts
      description: lookup_accounts regex search
      operationId: lookup-accounts-regex-search
      x-api-path-slug: lookup-accounts-get
      parameters:
      - in: query
        name: limit
        description: limit
      - in: query
        name: lowerBoundName
        description: lowerBoundName
      responses:
        200:
          description: OK
      tags:
      - Lookup
      - Accounts
  /get_follow_count:
    get:
      summary: get_follow_count
      description: get_follow_count
      operationId: get-follow-count
      x-api-path-slug: get-follow-count-get
      parameters:
      - in: query
        name: account
        description: account name
      responses:
        200:
          description: OK
      tags:
      - Get
      - Follow
      - Count
  /get_followers:
    get:
      summary: get_followers
      description: get_followers
      operationId: get-followers
      x-api-path-slug: get-followers-get
      parameters:
      - in: query
        name: following
        description: account name
      - in: query
        name: followType
        description: follow type blog, etc
      - in: query
        name: limit
        description: size of array for pagination
      - in: query
        name: startFollower
        description: account name from followers for pagination
      responses:
        200:
          description: OK
      tags:
      - Get
      - Followers
  /get_following:
    get:
      summary: get_following
      description: get_following
      operationId: get-following
      x-api-path-slug: get-following-get
      parameters:
      - in: query
        name: follower
        description: account name
      - in: query
        name: followType
        description: follow type blog, etc
      - in: query
        name: limit
        description: size of array for pagination
      - in: query
        name: startFollowing
        description: account name from followings for pagination
      responses:
        200:
          description: OK
      tags:
      - Get
      - Following
  /get_escrow:
    get:
      summary: get_escrow
      description: get_escrow
      operationId: get-escrow
      x-api-path-slug: get-escrow-get
      parameters:
      - in: query
        name: escrowId
        description: id
      - in: query
        name: from
        description: account name
      responses:
        200:
          description: OK
      tags:
      - Get
      - Escrow
  /get_withdraw_routes:
    get:
      summary: get_withdraw_routes
      description: get_withdraw_routes
      operationId: get-withdraw-routes
      x-api-path-slug: get-withdraw-routes-get
      parameters:
      - in: query
        name: account
        description: account name
      - in: query
        name: withdrawRouteType
        description: withdrawRouteType
      responses:
        200:
          description: OK
      tags:
      - Get
      - Withdraw
      - Routes
  /get_account_bandwidth:
    get:
      summary: get_account_bandwidth
      description: get_account_bandwidth
      operationId: get-account-bandwidth
      x-api-path-slug: get-account-bandwidth-get
      parameters:
      - in: query
        name: account
        description: account name
      - in: query
        name: bandwidthType
        description: bandwidthType
      responses:
        200:
          description: OK
      tags:
      - Get
      - Account
      - Bandwidth
  /get_savings_withdraw_from:
    get:
      summary: get_savings_withdraw_from
      description: get_savings_withdraw_from
      operationId: get-savings-withdraw-from
      x-api-path-slug: get-savings-withdraw-from-get
      parameters:
      - in: query
        name: account
        description: account name
      responses:
        200:
          description: OK
      tags:
      - Get
      - Savings
      - Withdraw
      - From
  /get_savings_withdraw_to:
    get:
      summary: get_savings_withdraw_to
      description: get_savings_withdraw_to
      operationId: get-savings-withdraw-to
      x-api-path-slug: get-savings-withdraw-to-get
      parameters:
      - in: query
        name: account
        description: account name
      responses:
        200:
          description: OK
      tags:
      - Get
      - Savings
      - Withdraw
      - To
  /get_block:
    get:
      summary: get block
      description: get block
      operationId: get-block
      x-api-path-slug: get-block-get
      parameters:
      - in: query
        name: blockNum
        description: get block content/transactions
      responses:
        200:
          description: OK
      tags:
      - Get
      - Block
  /get_block_header:
    get:
      summary: get block header
      description: get block header
      operationId: get-block-header
      x-api-path-slug: get-block-header-get
      parameters:
      - in: query
        name: blockNum
        description: get block header, witness, timestamp
      responses:
        200:
          description: OK
      tags:
      - Get
      - Block
      - Header
  /get_ops_in_block:
    get:
      summary: get_ops_in_block
      description: get_ops_in_block
      operationId: get-ops-in-block
      x-api-path-slug: get-ops-in-block-get
      parameters:
      - in: query
        name: blockNum
        description: block number
      - in: query
        name: onlyVirtual
        description: onlyVirtual
      responses:
        200:
          description: OK
      tags:
      - Get
      - Ops
      - In
      - Block
  /get_transaction_hex:
    get:
      summary: get_transaction_hex
      description: get_transaction_hex
      operationId: get-transaction-hex
      x-api-path-slug: get-transaction-hex-get
      parameters:
      - in: query
        name: trx
        description: transaction hex
      responses:
        200:
          description: OK
      tags:
      - Get
      - Transaction
      - Hex
  /get_transaction:
    get:
      summary: get_transaction
      description: get_transaction
      operationId: get-transaction
      x-api-path-slug: get-transaction-get
      parameters:
      - in: query
        name: trxId
        description: transaction id
      responses:
        200:
          description: OK
      tags:
      - Get
      - Transaction
  /get_required_signatures:
    get:
      summary: get_required_signatures
      description: get_required_signatures
      operationId: get-required-signatures
      x-api-path-slug: get-required-signatures-get
      parameters:
      - in: query
        name: availableKeys
        description: availableKeys
      - in: query
        name: trx
        description: transaction
      responses:
        200:
          description: OK
      tags:
      - Get
      - Required
      - Signatures
  /get_potential_signatures:
    get:
      summary: get_potential_signatures
      description: get_potential_signatures
      operationId: get-potential-signatures
      x-api-path-slug: get-potential-signatures-get
      parameters:
      - in: query
        name: trx
        description: transaction
      responses:
        200:
          description: OK
      tags:
      - Get
      - Potential
      - Signatures
  /verify_authority:
    get:
      summary: verify_authority
      description: verify_authority
      operationId: verify-authority
      x-api-path-slug: verify-authority-get
      parameters:
      - in: query
        name: trx
        description: transaction
      responses:
        200:
          description: OK
      tags:
      - Verify
      - Authority
  /verify_account_authority:
    get:
      summary: verify_account_authority
      description: verify_account_authority
      operationId: verify-account-authority
      x-api-path-slug: verify-account-authority-get
      parameters:
      - in: query
        name: nameOrId
        description: nameOrId
      - in: query
        name: signers
        description: signers
      responses:
        200:
          description: OK
      tags:
      - Verify
      - Account
      - Authority
  /get_key_references:
    get:
      summary: get_key_references
      description: get_key_references
      operationId: get-key-references
      x-api-path-slug: get-key-references-get
      parameters:
      - in: query
        name: key
        description: key
      responses:
        200:
          description: OK
      tags:
      - Get
      - Key
      - References
  /broadcast_transaction:
    get:
      summary: broadcast_transaction
      description: broadcast_transaction
      operationId: broadcast-transaction
      x-api-path-slug: broadcast-transaction-get
      parameters:
      - in: query
        name: trx
        description: transaction
      responses:
        200:
          description: OK
      tags:
      - Broadcast
      - Transaction
  /broadcast_transaction_synchronous:
    get:
      summary: broadcast_transaction_synchronous
      description: broadcast_transaction_synchronous
      operationId: broadcast-transaction-synchronous
      x-api-path-slug: broadcast-transaction-synchronous-get
      parameters:
      - in: query
        name: trx
        description: transaction
      responses:
        200:
          description: OK
      tags:
      - Broadcast
      - Transaction
      - Synchronous
  /broadcast_block:
    get:
      summary: broadcast_block
      description: broadcast_block
      operationId: broadcast-block
      x-api-path-slug: broadcast-block-get
      parameters:
      - in: query
        name: b
        description: block
      responses:
        200:
          description: OK
      tags:
      - Broadcast
      - Block
  /broadcast_transaction_with_callback:
    get:
      summary: 'WARNING: can only be used in Steem node or in scripts broadcast_transaction_with_callback'
      description: broadcast_transaction_with_callback
      operationId: broadcast-transaction-with-callback
      x-api-path-slug: broadcast-transaction-with-callback-get
      parameters:
      - in: query
        name: confirmationCallback
        description: confirmationCallback function
      - in: query
        name: trx
        description: transaction
      responses:
        200:
          description: OK
      tags:
      - 'WARNING:'
      - Can
      - Only
      - Be
      - Used
      - In
      - Steem
      - Node
      - In
      - Scripts
      - Broadcast
      - Transaction
      - Callback
  /set_max_block_age:
    get:
      summary: 'WARNING: can only be used in Steem node or in scripts set_max_block_age'
      description: set_max_block_age
      operationId: set-max-block-age
      x-api-path-slug: set-max-block-age-get
      parameters:
      - in: query
        name: maxBlockAge
        description: maxBlockAge
      responses:
        200:
          description: OK
      tags:
      - 'WARNING:'
      - Can
      - Only
      - Be
      - Used
      - In
      - Steem
      - Node
      - In
      - Scripts
      - Set
      - Max
      - Block
      - Age
  /set_subscribe_callback:
    get:
      summary: 'WARNING: can only be used in Steem node or in scripts set_subscribe_callback'
      description: set_subscribe_callback
      operationId: set-subscribe-callback-
      x-api-path-slug: set-subscribe-callback-get
      parameters:
      - in: query
        name: callback
        description: callback function
      - in: query
        name: clearFilter
        description: clearFilter
      responses:
        200:
          description: OK
      tags:
      - 'WARNING:'
      - Can
      - Only
      - Be
      - Used
      - In
      - Steem
      - Node
      - In
      - Scripts
      - Set
      - Subscribe
      - Callback
  /set_pending_transaction_callback:
    get:
      summary: 'WARNING: can only be used in Steem node or in scripts set_pending_transaction_callback'
      description: set_pending_transaction_callback
      operationId: set-pending-transaction-callback-
      x-api-path-slug: set-pending-transaction-callback-get
      parameters:
      - in: query
        name: cb
        description: callback function
      responses:
        200:
          description: OK
      tags:
      - 'WARNING:'
      - Can
      - Only
      - Be
      - Used
      - In
      - Steem
      - Node
      - In
      - Scripts
      - Set
      - Pending
      - Transaction
      - Callback
  /set_block_applied_callback:
    get:
      summary: 'WARNING: can only be used in Steem node or in scripts set_block_applied_callback'
      description: set_block_applied_callback
      operationId: set-block-applied-callback-
      x-api-path-slug: set-block-applied-callback-get
      parameters:
      - in: query
        name: cb
        description: callback function
      responses:
        200:
          description: OK
      tags:
      - 'WARNING:'
      - Can
      - Only
      - Be
      - Used
      - In
      - Steem
      - Node
      - In
      - Scripts
      - Set
      - Block
      - Applied
      - Callback
  /cancel_all_subscriptions:
    get:
      summary: 'WARNING: can only be used in Steem node or in scripts cancel_all_subscriptions'
      description: cancel_all_subscriptions
      operationId: cancel-all-subscriptions-
      x-api-path-slug: cancel-all-subscriptions-get
      responses:
        200:
          description: OK
      tags:
      - 'WARNING:'
      - Can
      - Only
      - Be
      - Used
      - In
      - Steem
      - Node
      - In
      - Scripts
      - Cancel
      - ""
      - Subscriptions
  /get_api_by_name:
    get:
      summary: get_api_by_name
      description: get_api_by_name
      operationId: get-api-by-name
      x-api-path-slug: get-api-by-name-get
      parameters:
      - in: query
        name: apiName
        description: apiName
      responses:
        200:
          description: OK
      tags:
      - Get
      - Api
      - By
      - Name
  /swagger:
    x-swagger-pipe:
      summary: ""
      description: ""
      operationId: ""
      x-api-path-slug: swagger-xswaggerpipe
      responses:
        200:
          description: OK
      tags:
      - ""