swagger: "2.0"
x-collection-name: Transavia
x-complete: 1
info:
  title: Airports API v2
  description: returns-all-airports
  version: "1.0"
host: api.transavia.com
basePath: /v2/airports
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /:
    get:
      summary: Get Airports
      description: Retrieve all airports.
      operationId: .get
      x-api-path-slug: get
      responses:
        200:
          description: OK
      tags:
      - Airports
  /countrycode/{countryCode}:
    get:
      summary: Get Country Codes
      description: Retrieve airports by country code.
      operationId: countrycode.countryCode.get
      x-api-path-slug: countrycodecountrycode-get
      parameters:
      - in: path
        name: countryCode
        description: Comma-separated list of country codes (2-character ISO 3166-1)
      responses:
        200:
          description: OK
      tags:
      - Airports
      - Countrycode
  /nearest:
    get:
      summary: Get Nearest Airports
      description: Retrieve nearest airports by geo coordinates (latitude/longitude).
      operationId: nearest.get
      x-api-path-slug: nearest-get
      parameters:
      - in: query
        name: latitude
        description: Latitude in decimals, lower than -90
      - in: query
        name: limit
        description: Limits the result, lower than 0 is not allowed
      - in: query
        name: longitude
        description: Longitude in decimals, lower than -180
      - in: query
        name: maxDistanceInKm
        description: Maximum distance in kilometers, lower than 1 and higher than
          500 is not allowed
      responses:
        200:
          description: OK
      tags:
      - Airports
      - Nearest
  /nearest/{id}:
    get:
      summary: Get Nearest Airport
      description: Retrieve nearest airports by station id.
      operationId: nearest.id.get
      x-api-path-slug: nearestid-get
      parameters:
      - in: path
        name: id
        description: Airport (IATA code) to search nearest airports for
      - in: query
        name: limit
        description: Limits the result, lower than 0 is not allowed
      - in: query
        name: maxDistanceInKm
        description: Maximum distance in kilometers, lower than 1 and higher than
          500 is not allowed
      responses:
        200:
          description: OK
      tags:
      - Airports
      - Nearest
  /{id}:
    get:
      summary: Get Aiport
      description: Retrieve airport by id.
      operationId: id.get
      x-api-path-slug: id-get
      parameters:
      - in: path
        name: id
        description: Airport code (3-character IATA code)
      responses:
        200:
          description: OK
      tags:
      - Airports