swagger: "2.0"
x-collection-name: Transavia
x-complete: 1
info:
  title: Flight Offers API v1
  description: returns-flight-offers
  version: 1.0.0
host: tst.api.transavia.com
basePath: /v1/flightoffers
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /:
    get:
      summary: Flight offers
      description: Retrieve flight offers by query string parameters.
      operationId: 58e50bf6ab95b50b8410ea72
      x-api-path-slug: get
      parameters:
      - in: query
        name: Adults
        description: Number of adult passengers (default = 1)
      - in: query
        name: Children
        description: Number of children passengers (default = 0)
      - in: query
        name: DaysAtDestination
        description: Duration in days of the time spent on the destination
      - in: query
        name: Destination
        description: Routekey (single or multiple) of the destination based on airport
          IATA-code, comma separated
      - in: query
        name: DestinationArrivalDate
        description: Date / Range to arrive at destination airport
      - in: query
        name: DestinationArrivalDayOfWeek
        description: Preferred departureday(s) of week to arrive on destination airport,
          comma separated (mo,th,we)
      - in: query
        name: DestinationArrivalTime
        description: Time range in which to arrive on destination airport
      - in: query
        name: DestinationDepartureDate
        description: Date / Range to depart from destination airport
      - in: query
        name: DestinationDepartureDayOfWeek
        description: Preferred departureday(s) of week to depart from destination
          airport, comma separated (mo,th,we)
      - in: query
        name: DestinationDepartureTime
        description: Time range in which to depart from destination airport
      - in: query
        name: DirectFlight
        description: When set to true, will only return direct flights
      - in: query
        name: GroupPricing
        description: Show price-per-adult by default, or price for all passengers
          when set to true
      - in: query
        name: Include
        description: Comma-separated list of advanced/optional fields to be included
          in the response
      - in: query
        name: Limit
        description: Maximum number of items in the response (default = 100, max =
          1000 for one-way / 200 for round-trip)
      - in: query
        name: LowestPricePerDestination
        description: Return only the lowest price per destination when set to true
          (default = false)
      - in: query
        name: Loyalty
        description: When set to FlyingBlue, filtering is based on Flying Blue points
          and results are returned in Flying Blue points
      - in: query
        name: Offset
        description: Paging number of the limited result set (default = 0)
      - in: query
        name: OrderBy
        description: Comma-separated list of fields on which the result must be ordered
      - in: query
        name: Origin
        description: Routekey (single or multiple) of the origin based on airport
          IATA-code, comma separated
      - in: query
        name: OriginArrivalDate
        description: Date / Range to arrive at origin airport
      - in: query
        name: OriginArrivalDayOfWeek
        description: Preferred departureday(s) of week to arrive on origin airport,
          comma separated (mo,th,we)
      - in: query
        name: OriginArrivalTime
        description: Time range in which to arrive at origin airport
      - in: query
        name: OriginDepartureDate
        description: Date / Range to depart from origin airport
      - in: query
        name: OriginDepartureDayOfWeek
        description: Preferred departureday(s) of week to depart from origin airport,
          comma separated (mo,th,we)
      - in: query
        name: OriginDepartureTime
        description: Time range in which to depart from origin airport
      - in: query
        name: Price
        description: Price range in euros or loyalty points for the flight offer
      - in: query
        name: ProductClass
        description: Product Class or branded fare (basic, plus, max) (default = basic)
      responses:
        2:
          description: Successful response
      tags:
      - Airlines
      - Offers