swagger: "2.0"
x-collection-name: EPA Envirofacts
x-complete: 1
info:
  title: 'U.S. EPA Enforcement and Compliance History Online (ECHO) - Resource Conservation
    and Recovery Act '
  description: enforcement-and-compliance-history-online-echo-is-a-tool-developed-and-maintained-by-epas-office-of-enforcement-and-compliance-assurance-for-public-use--echo-provides-integrated-compliance-and-enforcement-information-for-about-800000-regulated-facilities-nationwide-brbrrcra-rest-services-provides-multiple-service-endpoints-each-with-specific-capabilities-to-search-and-retrieve-data-on-hazardous-waste-handlersfacilities-regulated-under-the-resource-conservation-and-recovery-act-rcra----the-returned-results-reflect-data-drawn-from-epas-rcrainfo-database-brbrthe-get-facilities-get-map-get-qid-and-get-download-end-points-are-meant-to-be-used-together-while-the-enhanced-get-facility-info-end-point-is-self-contained---the-get-facility-info-end-point-returns-either-an-array-of-state-county-or-zip-clusters-with-summary-statistics-per-cluster-or-an-array-of-facilities-brbrthe-recommended-use-scenario-for-get-facilities-get-qid-get-map-and-get-downoad-isbrbrb1bnbsp-use-get-facilities-to-validate-passed-query-parameters-obtain-summary-statistics-and-to-obtain-a-query-id-qid---qids-are-time-sensitive-and-will-be-valid-for-approximately-30-minutes-brb2bnbsp-use-get-qid-with-the-returned-qid-to-paginate-through-arrays-of-facility-results-brb3bnbsp-use-get-map-with-the-returned-qid-to-zoom-inout-and-pan-on-the-clustered-and-individual-facility-coordinates-that-meet-the-qid-query-criteria-brb4bnbsp-use-get-download-with-the-returned-qid-to-generate-a-comma-separated-value-csv-file-of-facility-information-that-meets-the-qid-query-criteria-brbruse-the-qcolumns-parameter-to-customize-your-search-results---use-the-metdata-service-endpoint-for-a-list-of-available-output-objects-their-column-ids-and-their-definitions-to-help-you-build-your-customized-output--brbradditional-echo-resourcesnbspnbsp-a-hrefhttpsecho-epa-govtoolswebservicesweb-servicesa-a-hrefhttpsecho-epa-govresourcesechodataaboutthedataabout-echos-dataa-a-hrefhttpsecho-epa-govtoolsdatadownloadsdata-downloadsabr
  contact:
    name: US EPA, OECA Integration, Targeting and Access Branch
  version: 0.0.0
host: ofmpub.epa.gov
basePath: /echo
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /rcra_rest_services.get_download:
    get:
      summary: Resource Conservation and Recovery Act (RCRA) Download Data Service
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return a comma sepated vaule (CSV) file of the facilities found.
      operationId: based-on-the-qid-obtained-from-a-get-facilities-or-get-facility-info-query-return-a-comma-sepated-va
      x-api-path-slug: rcra-rest-services-get-download-get
      parameters:
      - in: query
        name: output
        description: Output Format Flag
      responses:
        200:
          description: OK
      tags:
      - Environment
      - Resource
      - Conservation
      - Recovery
      - Act
      - (RCRA)
      - Download
      - Data
      - Service
  /rcra_rest_services.get_facilities:
    get:
      summary: Resource Conservation and Recovery Act (RCRA) Facility Search Service
      description: Validates query search parameters and returns query identifier.  Use
        the responseset parameter to set the page size
      operationId: validates-query-search-parameters-and-returns-query-identifier---use-the-responseset-parameter-to-se
      x-api-path-slug: rcra-rest-services-get-facilities-get
      parameters:
      - in: query
        name: output
        description: Output Format Flag
      responses:
        200:
          description: OK
      tags:
      - Environment
      - Resource
      - Conservation
      - Recovery
      - Act
      - (RCRA)
      - Facility
      - Search
      - Service
  /rcra_rest_services.get_facility_info:
    get:
      summary: Resource Conservation and Recovery Act (RCRA) Facility Enhanced Search
        Service
      description: Returns either an array of Facilities or an array of Clusters that
        meet the specified search criteria.
      operationId: returns-either-an-array-of-facilities-or-an-array-of-clusters-that-meet-the-specified-search-criteri
      x-api-path-slug: rcra-rest-services-get-facility-info-get
      parameters:
      - in: query
        name: output
        description: Output Format Flag
      responses:
        200:
          description: OK
      tags:
      - Environment
      - Resource
      - Conservation
      - Recovery
      - Act
      - (RCRA)
      - Facility
      - Enhanced
      - Search
      - Service
  /rcra_rest_services.get_geojson:
    get:
      summary: Resource Conservation and Recovery Act (RCRA) GeoJSON Service
      description: Based on the QID obtained from a get_facilities or get_facility_info
        query, return GeoJSON of the facilities found.
      operationId: based-on-the-qid-obtained-from-a-get-facilities-or-get-facility-info-query-return-geojson-of-the-fac
      x-api-path-slug: rcra-rest-services-get-geojson-get
      parameters:
      - in: query
        name: output
        description: Output Format Flag
      responses:
        200:
          description: OK
      tags:
      - Environment
      - Resource
      - Conservation
      - Recovery
      - Act
      - (RCRA)
      - GeoJSON
      - Service
  /rcra_rest_services.get_info_clusters:
    get:
      summary: Resource Conservation and Recovery Act (RCRA) Info Clusters Service
      description: Based on the QID obtained from a clustered get_facility_info query,
        download cluster facility information as either a CSV or GEOJSON file.
      operationId: based-on-the-qid-obtained-from-a-clustered-get-facility-info-query-download-cluster-facility-informa
      x-api-path-slug: rcra-rest-services-get-info-clusters-get
      parameters:
      - in: query
        name: output
        description: Output Format Flag
      responses:
        200:
          description: OK
      tags:
      - Environment
      - Resource
      - Conservation
      - Recovery
      - Act
      - (RCRA)
      - Info
      - Clusters
      - Service
  /rcra_rest_services.get_map:
    get:
      summary: Resource Conservation and Recovery Act (RCRA) Map Service
      description: The purpose of the GET_MAP service is to display facility coordinates
        and facility clusters related to a get_facilities facility query. Currently,
        the maximum number of coordinates returned is 500. GET_MAP performs automatic
        clustering at the state, county, and zip code levels to maximize the number
        of coordinates returned.
      operationId: the-purpose-of-the-get-map-service-is-to-display-facility-coordinates-and-facility-clusters-related-
      x-api-path-slug: rcra-rest-services-get-map-get
      parameters:
      - in: query
        name: output
        description: Output Format Flag
      responses:
        200:
          description: OK
      tags:
      - Environment
      - Resource
      - Conservation
      - Recovery
      - Act
      - (RCRA)
      - Map
      - Service
  /rcra_rest_services.get_qid:
    get:
      summary: Resource Conservation and Recovery Act (RCRA) Paginated Results Service
      description: GET_QID is passed with a query ID corresponding to a previously
        run get_facilities query. It then returns a Facility object containing all
        matching facilities. The main purpose of GET_QID is for large querysets that
        contain multiple pages (responsesets) of output. GET_QID allows for pagination
        and for the selection and sorting of columns.
      operationId: get-qid-is-passed-with-a-query-id-corresponding-to-a-previously-run-get-facilities-query--it-then-re
      x-api-path-slug: rcra-rest-services-get-qid-get
      parameters:
      - in: query
        name: output
        description: Output Format Flag
      responses:
        200:
          description: OK
      tags:
      - Environment
      - Resource
      - Conservation
      - Recovery
      - Act
      - (RCRA)
      - Paginated
      - Results
      - Service
  /rcra_rest_services.metadata:
    get:
      summary: Resource Conservation and Recovery Act (RCRA) Metadata Service
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns
        parameter for get_qid, get_facility_info and other service endpoints.
      operationId: returns-the-json-object-name-and-columnid-for-usage-with-the-qcolumns-parameter-for-get-qid-get-faci
      x-api-path-slug: rcra-rest-services-metadata-get
      parameters:
      - in: query
        name: output
        description: Output Format Flag
      responses:
        200:
          description: OK
      tags:
      - Environment
      - Resource
      - Conservation
      - Recovery
      - Act
      - (RCRA)
      - Metadata
      - Service