swagger: "2.0"
x-collection-name: EPA Envirofacts
x-complete: 1
info:
  title: U.S. EPA Enforcement and Compliance History Online (ECHO) - Effluent Charting
    and Reporting
  description: enforcement-and-compliance-history-online-echo-is-a-tool-developed-and-maintained-by-epas-office-of-enforcement-and-compliance-assurance-for-public-use-echo-provides-integrated-compliance-and-enforcement-information-for-about-800000-regulated-facilities-nationwide-brbreff-rest-services-provides-the-data-for-echos-effluent-charts-a-set-of-dynamic-charts-and-tables-of-permitted-effluent-limits-releases-and-violations-over-time-for-clean-water-act-cwa-wastewater-discharge-permits-issued-under-the-national-pollutant-discharge-elimination-system-npdes---see-effluent-charts-help-httpsecho-epa-govhelpreportseffluentchartshelp-for-additional-information-brbrthe-are-3-service-end-points-for-efffluent-charts--get-summary-chart-get-effluent-chart-and-download-effluent-chart-brbrb1bnbsp-use-get-summary-chart-to-retrieve-a-summary-matrix-of-effluent-parameters-by-effluent-outfall-and-an-overall-violation-status-for-a-provided-npdes-permit-and-date-range-brb2bnbsp-use-get-effluent-chart-to-retrieve-detailed-discharge-limit-dmr-and-npdes-violation-information-for-a-provided-npdes-permit-date-range-effluent-paramater-or-outfall-brb3bnbsp-use-download-effluent-chart-to-generate-a-comma-separated-value-csv-file-of-the-detailed-data-provided-with-get-effluent-chart-for-a-provided-npdes-permit-date-range-effluent-paramater-or-outfall-brbradditional-echo-resourcesnbspnbsp-a-hrefhttpsecho-epa-govtoolswebservicesweb-servicesa-a-hrefhttpsecho-epa-govresourcesechodataaboutthedataabout-echos-dataa-a-hrefhttpsecho-epa-govtoolsdatadownloadsdata-downloadsabr
  contact:
    name: US EPA, OECA Integration, Targeting and Access Branch
  version: 1.0.0
host: ofmpub.epa.gov
basePath: /echo
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /eff_rest_services.download_effluent_chart:
    get:
      summary: Effluent Charts Download Service
      description: Downloads tabular Discharge Monitoring Report (DMR) and compliance
        data for one NPDES permit as a CSV.
      operationId: downloads-tabular-discharge-monitoring-report-dmr-and-compliance-data-for-one-npdes-permit-as-a-csv-
      x-api-path-slug: eff-rest-services-download-effluent-chart-get
      responses:
        200:
          description: OK
      tags:
      - Environment
      - Effluent
      - Charts
      - Download
      - Service
  /eff_rest_services.get_effluent_chart:
    get:
      summary: Detailed Effluent Chart Service
      description: Discharge Monitoring Report (DMR) data supporting each effluent
        chart for one NPDES permit. Includes Discharge Monitoring Reports and NPDES
        Violations.
      operationId: discharge-monitoring-report-dmr-data-supporting-each-effluent-chart-for-one-npdes-permit--includes-d
      x-api-path-slug: eff-rest-services-get-effluent-chart-get
      responses:
        200:
          description: OK
      tags:
      - Environment
      - Detailed
      - Effluent
      - Chart
      - Service
  /eff_rest_services.get_summary_chart:
    get:
      summary: Summary Effluent Chart Service
      description: Summary of compliance status each outfall and parameter for one
        NPDES permit. Provides the current compliance status and overall compliance
        status for the date range of interest. This service supports the Summary Matrix
        on the Effluent Charts.
      operationId: summary-of-compliance-status-each-outfall-and-parameter-for-one-npdes-permit--provides-the-current-c
      x-api-path-slug: eff-rest-services-get-summary-chart-get
      responses:
        200:
          description: OK
      tags:
      - Environment
      - Summary
      - Effluent
      - Chart
      - Service
  /rest_lookups.cwa_parameters:
    get:
      summary: ECHO CWA Parameter Lookup Service
      description: Look up Clean Water Act parameter codes and descriptions in the
        Integrated Compliance Information System - National Pollutant Discharge Elimination
        System (ICIS-NPDES) by code or term.
      operationId: look-up-clean-water-act-parameter-codes-and-descriptions-in-the-integrated-compliance-information-sy
      x-api-path-slug: rest-lookups-cwa-parameters-get
      responses:
        200:
          description: OK
      tags:
      - Environment
      - ECHO
      - CWA
      - Parameter
      - Lookup
      - Service