swagger: "2.0"
x-collection-name: 7digital
x-complete: 1
info:
  title: 7digital Basket API
  description: the-basket-api-allows-creation-of-7digital-hosted-baskets-which-can-be-populated-with-items-tracks-and-releases-from-the-7digital-catalogue-
  termsOfService: http://developer.7digital.com/db/Attachments/Legal/Terms_of_Use/7digital%20Public%20API%20Terms.pdf
  version: "1.2"
host: api.7digital.com
basePath: 1.2/
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  basket:
    '<h4 ':
      summary: basket
      description: Basket.
      operationId: basket
      x-api-path-slug: basket-h4
      parameters:
      - ~
      - in: query
        name: amountDue
      - in: query
        name: artistName
      - in: query
        name: basket id
      - in: query
        name: basketId
        description: nttttttttThe unique identifier of the basket as acquired by basket/create
          methodnttttttt
      - in: query
        name: basketItem id
      - in: query
        name: basketItems
      - in: query
        name: country
        description: The code of the country the end user resides in
      - in: query
        name: discount
      - in: query
        name: itemCount
      - in: query
        name: itemName
      - in: query
        name: package
      - in: query
        name: price
      - in: query
        name: releaseId
      - in: query
        name: trackId
      - in: query
        name: type
      responses:
        200:
          description: OK
      tags:
      - Basket